/*********************** Variables ***********************/

$grey: #d7d7d7;
$highlighter: #fce7e7;

/*********************** Responsive widths ***********************/

$max-width-md: 1199px;
$max-width-sm: 991px;
$max-width-xs: 767px;

/*********************** Mixins ***********************/

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin main-container {
  max-width: 1040px;
  margin: 0 auto;
  z-index: 400;
  background-color: #fff;
  padding: 30px 0 30px 0;
  @media (max-width: $max-width-xs) {
    padding: 120px 10px 20px 10px;
  }
}

@mixin graph($x-coordinate) {
	height: 98px;
	width: 8px;
	margin: 0 auto;
	border: 0px;
	text-align: center;
	position: relative;
	background: url('/images/about/graph_sprite.png') $x-coordinate 0px no-repeat;
	&.alt {
	  height: 115px;
	  div {
      position: absolute;
      bottom: 0px;
      left: 3px;
    }
	}
}

@mixin black-container {
  color: #fff;
  background-color: #000;
  letter-spacing: 2px;
  padding: 8px 20px;
  font-size: 11px;
  z-index: 100;
}

/*********************** Fonts ***********************/

@font-face {
		font-family: 'Archer-LightItalic';
		src: url('/fonts/archerlightitalpro.eot');
		src: url('/fonts/archerlightitalpro.eot?#iefix') format('embedded-opentype'),
				 url('/fonts/archerlightitalpro.woff') format('woff'),
				 url('/fonts/archerlightitalpro.ttf') format('truetype'),
				 url('/fonts/archerlightitalpro.svg#archerlightitalpro') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'Archer-Book';
		src: url('/fonts/archerbookpro.eot');
		src: url('/fonts/archerbookpro.eot?#iefix') format('embedded-opentype'),
				 url('/fonts/archerbookpro.woff') format('woff'),
				 url('/fonts/archerbookpro.ttf') format('truetype'),
				 url('/fonts/archerbookpro.svg#archerbookpro') format('svg');
		font-weight: normal;
		font-style: normal;
		text-rendering:  optimizeLegibility;
}

::selection {
  background-color: $highlighter;
}

::-moz-selection {
  background-color: $highlighter;
}

/*********************** Google Fonts ***********************/

// font-family: 'Arapey';
@import url(https://fonts.googleapis.com/css?family=Arapey:400italic,400);

/*********************** anaenders ***********************/

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: Georgia, serif;
  color: #000;
  line-height: 1.5em;
  font-size: 15px;
  @media (max-width: $max-width-sm) {
    font-size: 13px;
  }
  a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background-color: $highlighter;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
  p {
    padding-bottom: 20px;
    line-height: 1.5em;
    margin: 0px;
    word-wrap: break-word;
  }
  img {
    border: 0px
  }
  .container {
    padding: 0px;
  }
  .img-responsive {
    margin: 0px auto;
  }
}

.content {
  width: 100%;
  padding: 0px;
  .header-wrapper {
    z-index: 600;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 8px solid #454343;
  }
  header {
    max-width: 1200px;
    margin: 0 auto;
    z-index: 400;
    height: 80px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: baseline;
    .logo {
      font-family: Georgia;
      font-size: 58px;
      height: 70px;
      font-style: italic;
      text-decoration: none;
      color: #f65f5f;
      letter-spacing: -3px;
      padding: 40px 20px 0px 90px;
      display: block;
      background: url('/images/logo.png') no-repeat 0px -4px;
      flex-grow: 0;
      align-self: stretch;
      @media (max-width: $max-width-md) {
        font-size: 50px;
      }
      @media (max-width: $max-width-sm) {
        font-size: 30px;
      }
    }
    .dots {
      position: relative;
      height: 70px;
      z-index: 1;
      margin: 0 auto;
      background: url('/images/header.png') repeat 0px -1px;
      flex-grow: 10;
      align-self: flex-end;
    }
  }
}

.scroll {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  background-color: rgba(0,0,0,.80);
  font-family: Georgia;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  font-size: 11px;
  padding: 8px 10px 10px 10px;
  cursor: pointer;
  line-height: 1.2em;
  text-align: center;
  display: none;
  &:hover {
    color: $highlighter;
  }
  @media (max-width: $max-width-xs) {
    right: 5px;
    bottom: 5px;
  }
}

.slideshow {
  position: relative;
  z-index: 0;
  width: 100%;
  padding: 80px 0 0 0;
  ul {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 400px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      display: none;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      width: 100%;
      height: 400px;
      position: absolute;
      background-repeat: no-repeat;
      &.slide1 { background-image: url("/images/about/slide1.jpg"); }
      &.slide2 { background-image: url("/images/about/slide2.jpg"); }
      &.slide3 { background-image: url("/images/about/slide3.jpg"); }
      &.slide4 { background-image: url("/images/about/slide4.jpg"); }
      &.slide5 { background-image: url("/images/about/slide5.jpg"); }
      &.slide6 { background-image: url("/images/about/slide6.jpg"); }
      &.slide7 { background-image: url("/images/about/slide7.jpg"); }
      &.slide8 { background-image: url("/images/about/slide8.jpg"); }
      &.slide9 { background-image: url("/images/about/slide9.jpg"); }
      &.slide10 { background-image: url("/images/about/slide10.jpg"); }
      &.slide11 { background-image: url("/images/about/slide11.jpg"); }
      &.slide12 { background-image: url("/images/about/slide12.jpg"); }
      &.slide13 { background-image: url("/images/about/slide13.jpg"); }
      &.slide14 { background-image: url("/images/about/slide14.jpg"); }
      &.slide15 { background-image: url("/images/about/slide15.jpg"); }
      &.slide16 { background-image: url("/images/about/slide16.jpg"); }
      &.slide17 { background-image: url("/images/about/slide17.jpg"); }
    }
  }
  @media (max-width: $max-width-xs) {
    display: none;
  }
}

// Shared flex design
.section-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  @media (max-width: $max-width-xs) {
    flex-direction: column;
    margin: 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px dotted #d7d7d7;
    &:last-child {
      border-bottom: 0px;
      margin: 15px 0 0 0;
      padding: 15px 0 0 0;
    }
  }
  .section-item-header,
  .section-item-grey,
  .section-item-copy {
    margin-top: 10px;
    flex-grow: 1;
    width: 20%;
    padding: 5px;
    font-size: 13px;
    @media (max-width: $max-width-xs) {
      width: auto;
    }
  }
  .section-item-header {
    font-family: "Archer-Book", Georgia, Serif;
    font-size: 16px;
    font-weight: normal
  }
  .section-item-grey {
    font-family: "Archer-Book", Georgia, Serif;
    clear: both;
    font-weight: normal;
    margin-top: 5px;
    color: #777;
    .job {
      font-style: italic;
      font-size: 13px;
      color: #6f6f6f;
      a {
        font-weight: normal;
        color: #6f6f6f;
      }
    }
  }
}

.about {
  @include main-container;
  p {
    margin: 0 0 8px 0;
    a {
      font-family: Georgia;
      font-style: italic;
    }
    // Oversized word
    span {
      float: left;
      margin: 26px 20px 20px 0;
      font-size: 50px;
      font-family: "Archer-LightItalic", Georgia, serif;
      @media (max-width: $max-width-md) {
        font-size: 40px;
      }
      @media (max-width: $max-width-sm) {
        font-size: 25px;
        margin: 16px 20px 10px 0;
      }
    }
  }
}

.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  @media (max-width: $max-width-xs) {
    flex-direction: column;
  }
  .intro-description {
    flex-grow: 1;
    padding: 15px;
    width: 50%;
    @media (max-width: $max-width-xs) {
      width: 100%;
      padding: 0px;
    }
  }
}

.section-label--left,
.section-label--right {
  @include black-container;
  position: absolute;
  top: -1px;
}
.section-label--left {
  left: 0px;
}
.section-label--right {
  right: 0px;
}

.resume {
  background: url('/images/about/border_bg.jpg') #fff repeat-x top left;
  border-top: 30px solid #fff;
  margin: 0;
  h1 {
    background-color: #fff;
    margin: -10px auto 0 auto;
    width: 250px;
    z-index: 5;
    line-height: 1.3em;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    font-family: "Archer-Book", Georgia, Serif;
    @media (max-width: $max-width-sm) {
      font-size: 18px;
      margin: -8px auto 0 auto;
      width: 220px;
    }
  }
  .resume-summary {
    @include clearfix;
    text-align: justify;
    margin: 30px auto;
    padding: 0 15px;
    display: block;
    font-weight: normal;
    line-height: 1.5em;
    @media (max-width: $max-width-xs) {
      padding: 0px;
    }
  }
  .resume-block {
    @include clearfix;
    position: relative;
    border-top: 1px dotted $grey;
    margin: 10px 0 20px 0;
    padding-top: 35px;
    @media (max-width: $max-width-xs) {
      padding-top: 20px;
      margin: 5px 0 10px 0;
    }
    .resume-education--desktop,
    .resume-jobs--desktop {
      display: block;
      margin-top: 30px;
      @media (max-width: $max-width-xs) {
        display: none;
      }
    }
    .resume-education--mobile,
    .resume-jobs--mobile {
      display: none;
      @media (max-width: $max-width-xs) {
        display: block;
        margin: 30px 0;
      }
    }
    .resume-skills {
      float: left;
      text-align: left;
      ul {
        padding: 0px;
        margin: 20px 0 0 0;
        li {
          list-style-type: none;
          text-align: right;
          height: 17px;
          margin: 0 10px 0 0;
          padding-right: 10px;
          font-style: italic;
          font-family: Georgia;
          font-weight: bold;
          font-size: 11px;
          background: url('/images/about/dash.jpg') no-repeat 100% 50%;
          @media (max-width: $max-width-sm) {
            font-size: 10px;
          }
        }
      }
    }
    .resume-jobs-window {
      background-color: #FFFFFF;
      position: relative;
      z-index: 0;
      .resume-jobs-wrapper {
        overflow: hidden;
        position: relative;
        max-width: 1040px;
        height: 470px;
        .next_container {
          z-index: 200;
          width: 100px;
          height: 480px;
          background-color: rgba(255, 255, 255, 0.8);
          position: absolute;
          top: 0px;
          right: 0px;
          .next {
            z-index: 400;
            padding: 228px 20px 0 0px;
            float: right;
            i {
              cursor: pointer;
              font-size: 40px;
            }
          }
        }
        .prev_container {
          @extend .next_container;
          background-color: rgba(255, 255, 255, 0.8);
          display: none;
          left: 0px;
          .previous {
            @extend .next;
            padding: 228px 0px 0 20px;
            float: left;
          }
        }
        .resume-jobs-container {
          left: 0;
          position: absolute;
          top: 0;
          z-index: 100;
          .resume-jobs-slide {
            width: 1200px;
            .table-row {
              width: auto;
              .table-header, .table-data { width: 16%; }
            }
          }
        }
      }
    }
  }
}

// Bar graph
figure {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  @media (max-width: $max-width-xs) {
    flex-direction: column;
  }
  p {
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-family: "Archer-Book", Georgia, Serif;
    color: #000;
    font-size: 10px;
    z-index: 100;
    padding: 0px;
    margin: 0px;
  }
  .bar {
    display: table-cell;
    vertical-align: top;
    padding: 0px;
    font-style: italic;
    font-size: 11px;
    text-align: center;
    z-index: 300;
    .graph-header {
      position: absolute;
      top: 73px;
      height: 18px;
      left: 0px;
      right: 0px;
    }
  }
  > div {
    margin-top: 25px;
    font-size: 12px;
    position: relative;
    @media (max-width: $max-width-xs) {
      height: auto;
      width: 100%;
    }
    &.frontend {
      .bar {
        width: 14%;
        .graph-header {
          background-color: #f77c7f;
          &.dark {
            border-right: 15px solid #ff3f18;
          }
        }
      }
    }
    &.programming {
      .bar {
        width: 25%;
        .graph-header {
          background-color: #fd835e;
          &.dark {
            border-right: 15px solid #ffb317;
          }
        }
      }
    }
    &.design {
      .bar {
        width: 25%;
        .graph-header {
          background-color: #ffdd4d;
          &.dark {
            border-right: 15px solid #c1e31a;
          }
        }
      }
    }
    &.additional {
      .bar{
        width: 50%;
        .graph-header {
          background-color: #26c6d6;
          &.dark {
            border-right: 15px solid #4fabec;
          }
        }
      }
    }
    .beginner { @include graph(-75px) }
    .intermediate { @include graph(-50px) }
    .advanced { @include graph(-25px) }
    .expert { @include graph(0px); }
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  width: 100%;
  .social-item {
    margin-top: 10px;
    flex-grow: 0;
    padding: 5px;
    text-align: center;
    padding: 15px;
    border-radius: 100%;
    font-size: 18px;
    line-height: 25px;
    width: 25px;
    margin: 10px;
    &:hover {
      transition: .4s;
      background-color: darken($highlighter, 5%);
    }
  }
}