/***********************variables***********************/
$grey: #d7d7d7;
$dark-grey: #4c4c4c;
$almost-black: #454343;
$green: #74fae2;
$neon-pink: #f65f5f;
$neon-green: #dcf74a;

/***********************mixins***********************/
@mixin button($image) {
	height: 58px;
	width: 58px; 
	text-indent: -9999px;
	border: 0px;
	background: url($image) 0px 0px;
	&:hover { background-position: 0px -58px; }
}

@mixin graph($x-coordinate) {
	height: 98px;
	width: 8px; 
	margin: 0 auto;
  cursor: pointer;
	border: 0px;
	text-align: center;
	position: relative;
	background: url('/images/about/graph_sprite.png') $x-coordinate 0px no-repeat;
	&:hover { background-position: $x-coordinate - 9px 0px; font-weight: bold; }
	&.alt {
	  padding: 0 0 17px 0;
	  div {  position: absolute; bottom: 0px; left: 3px }
	}
}

@mixin thumb-container($width, $height) {
  float: left;
  position: relative;
  width: $width;
  height: $height;
  margin: 1px 1px 0 0;
  img { float: left; height: $height; width: $width }
  .grey-overlay {
    display: none;
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 0px;
    width: $width;
    height: $height;
  }  
}

@mixin frame($color) {
  border: 8px solid ($color);
  position: relative;
  margin-bottom: 8px;
  float: left;
  padding: 0 0 1px 1px;
  width: 1023px;
}

@mixin label($x-coordinate) {
  position: absolute;
  top: -30px;
  left: $x-coordinate;
  z-index: 100;
  width: 69px;
  height: 67px
}

@font-face {
  font-family: Rockwell;
  src: url('/fonts/Rockwell.ttf'),
       url('/fonts/Rockwell.eot'); /* IE9+ */
  font-family: BotonBQ;
  src: url('/fonts/BotonBQ.ttf'),
      url('/fonts/BotonBQ.ttf'); /* IE9+ */
}

::selection { background-color:#b4fef1; }
::-moz-selection { background-color:#b4fef1; }

/***********************anaenders***********************/
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: Helvetica, "Helvetica Neue","Sans-serif";
  color: 000;
  font-size: 12px;
  color: $dark-grey;
}

.generic { float: left; width: 100% }

a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}

p { 
  padding-bottom: 10px; 
  line-height: 1.4em; 
  margin: 0px;
  word-wrap: break-word;
}

.clear {
  clear: both;
  line-height: 0px;
  height: 0px; 
}

.content {
  width: 1203px;
  margin: 0px auto;
  padding: 50px 50px 20px 100px;
  background: url('/images/logo.png') no-repeat 10px 10px;
  header {
    @extend .generic; 
    height: 77px;
    margin: 0 0 17px 0;
    background: url('/images/header.jpg') no-repeat top right;
    img { float: left }
  }
  nav {
    float: left;
    width: 163px;
    z-index: 15;
    overflow: hidden;
    div {
      @extend .generic; 
      height: 34px;
      position: relative;
    }
   .on {
      img {
       position: absolute;
       left: 0px;
       top: 0px;
      }
    }
    .off { 
      img {
        position: absolute;
        left: 120px;
        top: 0px; 
      }
    }
  }
}

/***********************portfolio***********************/
.portfolio {
  float: left;
  width: 1040px; 
  z-index: 50;
  .web {
    @include frame($almost-black);
    .web-logo { @include label(1001px) }
    .small-thumb { @include thumb-container(340px, 100px); }
  }
  .print {
    @include frame($neon-pink);
    .print-logo { @include label(-45px) }
    .small-thumb { @include thumb-container(480px, 341px); }
    .group-float { 
      .small-thumb { @include thumb-container(541px, 170px); }
      float: left; 
      width: 542px;
    }
  }
  .woodwork {
    @include frame($neon-green);
    .woodwork-logo { @include label(1001px) }
    .small-thumb.one { @include thumb-container(235px, 160px); }
    .small-thumb.two { @include thumb-container(224px, 160px); }
    .small-thumb.three { @include thumb-container(216px, 160px); }
    .small-thumb.four { @include thumb-container(344px, 160px); }
  }
}

/***********************about***********************/
.about {
  width: 1040px;
  float: left;
  .slideshow {
    @extend .generic; 
    margin-bottom: 25px;
    img { float: left }
  }
  .casual-intro {
    width: 475px;
    font-size: 13px;
    float: left;
    margin: 0 15px 10px 0;
    p:first-child {
      &:first-letter {
        font-size: 20px;
      }
    }
  }
  .twitter-feed {
    width: 550px;
    height: 252px;
    float: left;  
    overflow-y: scroll;
    .tweet {
      margin: 0px;
      padding: 15px 0 15px 40px;
      border-bottom: 1px solid $grey;
      font-family: Georgia;
      font-size: 11px;
      background: url('/images/about/twitter_bird.png') no-repeat 0% 50%;
      font-weight: bold;
      span { 
        font-size: 10px; 
        font-weight: normal; 
        display: block;
        margin-top: 10px;
      }
    }
  }
}

.resume {
  @extend .generic; 
  position: relative;
  background: url('/images/about/border_bg.jpg') repeat-x top left;
  margin: 25px 0 0 0;
  .follow {
    position: absolute;
    top: 93px;
    left: 0px;
  }
  .dload {
    position: absolute;
    top: 85px;
    right: 0px;
    width: 135px;
    height: 27px;
    background: url('/images/about/btns/dload_resume.jpg') repeat 0px 0px;
    &:hover { background: url('/images/about/btns/dload_resume.jpg') repeat 0px 27px; font-weight: bold }
  }
  h1 {
    background-color: #fff;
    margin: -10px auto 0 auto;
    width: 594px;
    z-index: 5;
    line-height: 1.3em;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    font-family: BotonBQ, Rockwell, Georgia, Serif;
  }
  description {
    text-align: justify;
    margin: 10px auto;
    width: 636px;
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.4em;
  }
  .category {
    border-top: 1px dotted $grey;
    margin: 10px 0 20px 0;
    @extend .generic; 
    span { 
      float: left;
      cursor: pointer;
      margin-top: -1px;
      color: #fff; 
      background-color: #000; 
      letter-spacing: 5px; 
      padding: 5px 10px;
      font-size: 11px
    }
    .skill-list {
      width: 100px;
      float: left;
      ul {
        @extend .generic; 
        padding: 0px;
        margin: 23px 0 0 0;
        li {
          list-style-type: none;
          height: 17px;
          margin: 0 10px 0 0;
          padding-right: 6px;
          font-style: italic;
          font-family: Georgia;
          font-weight: bold;
          font-size: 11px;
          background: url('/images/about/dash.jpg') no-repeat 100% 50%;
        }
      }
    }
    figure {
      width: 940px;
      height: 170px;
      float: left;
      background: url('/images/about/chartBG.jpg') no-repeat 0px 98px;
      margin: 0px;
      table {
        font-family: Georgia;
        height: 150px;
        float: left;
        margin-top: 25px;
        padding-right: 15px;
        &.frontend { width: 315px; td { width: 16% } }
        &.programming { width: 270px; td { width: 25% }}
        &.design { width: 193px; td { width: 33% } }
        &.additional { width: 162px; td { width: 50% } }
        td {
          padding: 0px;
          font-style: italic;
          font-size: 11px;
          text-align: center;
          width: auto;
        }
        .beginner { @include graph(-75px) }
        .intermediate { @include graph(-50px) }
        .advanced { @include graph(-25px) }
        .expert { @include graph(0px) }
      }
    }
    table {
      @extend .generic;  
      font-family: Georgia;
      margin-top: 22px;
      th { font-family: Georgia, Rockwell, Serif; }
      th, td { 
        line-height: 1.3em; 
        text-align: left; 
        width: 20%; 
        vertical-align: top; 
        padding: 0 10px 10px 0;
        .date { clear: both; font-weight: normal; margin-top: 5px }
      }
      &.contact-icons {
        margin: 30px 0 50px 0;
        td { 
          text-align: center; 
          padding: 0px; 
          width: auto;
          a {
            width: 58px;
            height: 58px;
            float: left;
            &.email { @include button('/images/about/btns/email.jpg') }
            &.google { @include button('/images/about/btns/google.jpg') }
            &.rss { @include button('/images/about/btns/rss.jpg') }
            &.linkedIn { @include button('/images/about/btns/linkedIn.jpg') }
            &.pinterest { @include button('/images/about/btns/pinterest.jpg') }
            &.facebook { @include button('/images/about/btns/facebook.jpg') }
            &.twitter { @include button('/images/about/btns/twitter.jpg') }
            &.github { @include button('/images/about/btns/github.jpg') }
          }
        }
      }
    }
  }
}  

/***********************blog***********************/
.blog {
  width: 1012px;
  margin: 0 0 26px 26px;
  float: left;
  .post {
    @extend .generic; 
    color: $dark-grey;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid $grey;
    padding: 0 0 20px 0;
    .title-date {
      font-size: 12px;
      float: left;
      color: $green;
      font-weight: bold;
      margin: 0 0 10px 0;
      padding: 10px;
      background: url('/images/blog/title_bg.png') repeat 0px 0px;
    }
    h4 { 
      text-transform: capitalize;
      font-family: BotonBQ, Rockwell, Georgia, Serif;
      // font-variant: small-caps;
      margin: 0px;
      padding: 0px;
      clear: both;
      font-size: 20px;
      padding: 15px 0; 
      font-weight: normal; 
    }
    .blog_content { 
      float: left; 
      width: 496px; 
      margin-right: 10px; 
      -moz-column-count:2; /* Firefox */
      -webkit-column-count:2; /* Safari and Chrome */
      column-count:2; 
      -moz-column-gap:10px; /* Firefox */
      -webkit-column-gap:10px; /* Safari and Chrome */
      column-gap:10px;
    }
    .fb-comment-wrapper {
      width: 506px;
      float: left;
      margin: 10px 0 0 0px;
    }
    p { line-height: 1.5em; padding-bottom: 12px; font-size: 13px }
    a { font-weight: normal; color: $dark-grey; font-style: italic }
    img { float: right; margin: 0 0 10px 0;  }
  }
  .pagination {
    @extend .generic; 
    margin: 0 0 20px 0;
    .prev { width: 50%; float: left; text-align: left }
    .next { width: 50%; float: right; text-align: right }
  }
} 

.archives {
  float: left;
  width: 100%; 
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-size: 11px;
    li {
      padding-left: 32px;
      background: url('/images/blog/bullet.jpg') no-repeat 0px 0px;
      margin: 0 10px 15px 10px;
      text-align: center;
      float: right;
      a { font-weight: normal }
      span { 
        color: #6e6e6e; 
        font-style: italic; 
        display: block; 
        padding-top: 6px 
      }
    }
  }
}
