/***********************variables***********************/
$grey: #d7d7d7;
$dark-grey: #4c4c4c;
$almost-black: #454343;
$green: #74fae2;
$neon-pink: #f65f5f;
$neon-green: #dcf74a;
$aqua: #59edd3;

/***********************mixins***********************/
@mixin button($image) {
	height: 58px;
	width: 58px; 
	text-indent: -9999px;
	border: 0px;
	background: url($image) 0px 0px;
	&:hover { background-position: 0px -58px; }
}

@mixin main_container {
  float: left;
  width: 1040px;
  margin: 127px 0 30px 163px;
  z-index: 400;
  background-color: #fff
}

@mixin bring_to_front {
  background-color: #fff;
  z-index: 400;
  position: relative;
}

@mixin graph($x-coordinate) {
	height: 98px;
	width: 8px; 
	margin: 0 auto;
  cursor: pointer;
	border: 0px;
	text-align: center;
	position: relative;
	background: url('/images/about/graph_sprite.png') $x-coordinate 0px no-repeat;
	&:hover, &.on { background-position: $x-coordinate - 9px 0px; font-weight: bold; }
	&.alt {
	  padding: 0 0 17px 0;
	  div {  position: absolute; bottom: 0px; left: 3px }
	}
}

@mixin thumb-container($width, $height) {
  float: left;
  cursor: pointer;
  position: relative;
  width: $width;
  height: $height;
  margin: 1px 1px 0 0;
  img { float: left; height: $height; width: $width }
  .grey-overlay {
    display: none;
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 0px;
    width: $width;
    height: $height;
  }  
}

@mixin frame($color) {
  border: 8px solid ($color);
  position: relative;
  margin-bottom: 8px;
  float: left;
  padding: 0 0 1px 1px;
  width: 1023px;
}

@mixin label($x-coordinate) {
  position: absolute;
  top: -8px;
  left: $x-coordinate;
  z-index: 100;
  width: 83px;
  height: 64px
}

@mixin columns($col_count, $col_gap) {
  -moz-column-count:$col_count; /* Firefox */
  -webkit-column-count:$col_count; /* Safari and Chrome */
  column-count:$col_count; 
  -moz-column-gap:$col_gap; /* Firefox */
  -webkit-column-gap:$col_gap; /* Safari and Chrome */
  column-gap:$col_gap;
}

@font-face {
  font-family: Rockwell;
  src: url('/fonts/Rockwell.ttf'),
       url('/fonts/Rockwell.eot'); /* IE9+ */
  font-family: BotonBQ;
  src: url('/fonts/BotonBQ.ttf'),
      url('/fonts/BotonBQ.ttf'); /* IE9+ */
  font-family: Archer-Light;
  src: url('/fonts/Archer-Light-Pro.otf'),
      url('/fonts/Archer-Light-Pro.otf'); /* IE9+ */
  font-family: Archer-Medium;
  src: url('/fonts/Archer-Medium-Pro.otf'),
      url('/fonts/Archer-Medium-Pro.otf'); /* IE9+ */
  font-family: TradeGothic;
  src: url('/fonts/TradeGothicLTStd-Cn18.otf'),
      url('/fonts/TradeGothicLTStd-Cn18.otf'); /* IE9+ */
}

::selection { background-color:#fce7e7; }
::-moz-selection { background-color:#fce7e7; }

/***********************anaenders***********************/
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: Helvetica, "Helvetica Neue","Sans-serif";
  color: 000;
  font-size: 12px;
}

.generic { float: left; width: 100% }

a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: underline;
  }
}

p { 
  padding-bottom: 10px; 
  line-height: 1.4em; 
  margin: 0px;
  word-wrap: break-word;
}

img { border: 0px }

.clear {
  clear: both;
  line-height: 0px;
  height: 0px; 
}

.wrapper { float: left; width: 1203px; margin-left: 80px; }

.content {
  width: 1283px;
  margin: 0px auto;
  padding: 0px;
  header {
    @extend .generic; 
    z-index: 600;
    position: fixed;
    width: 1283px;
    height: 110px;
    margin: 0 0 17px 0;
    background: url('/images/header.jpg') #fff no-repeat 0px 0px;
    img { float: left; margin: 34px 0 0 78px; }
  }
  nav {
    z-index: 0;
    float: left;
    position: fixed;
    margin-top: 127px;
    width: 163px;
    overflow: hidden;
    div {
      @extend .generic; 
      height: 34px;
      position: relative;
    }
   .on {
      img {
       position: absolute;
       left: 0px;
       top: 0px;
      }
    }
    .off { 
      img {
        position: absolute;
        left: 120px;
        top: 0px; 
      }
    }
  }
}

/***********************portfolio***********************/
.portfolio {
  @include main_container;
  @include bring_to_front;
  .web {
    .small-thumb { @include thumb-container(340px, 100px); }
    &.professional { 
      @include frame($almost-black); 
      .web-logo { @include label(932px) }
    }
    &.personal {
      @include frame($aqua); 
      .web-logo { @include label(-8px) }
    }
  }
  .print {
    @include frame($neon-pink);
    .print-logo { @include label(949px) }
    .small-thumb { @include thumb-container(480px, 341px); }
    .group-float { 
      .small-thumb { @include thumb-container(541px, 170px); }
      float: left; 
      width: 542px;
    }
    .short-row {
      float: left;
      &.abstract { 
        .small-thumb { @include thumb-container(447px, 98px); }
      }
      &.signage {
        .small-thumb { @include thumb-container(574px, 98px); }
      }
    }
  }
  .woodwork {
    @include frame($neon-green);
    .woodwork-logo { @include label(-8px) }
    .small-thumb.one { @include thumb-container(235px, 160px); }
    .small-thumb.two { @include thumb-container(224px, 160px); }
    .small-thumb.three { @include thumb-container(216px, 160px); }
    .small-thumb.four { @include thumb-container(344px, 160px); }
  }
}

.detail-container {
  .inner-container {
    width: 100%;
    float: left;
    position: relative;
    .close { 
      background: url('/images/btns/close.png') no-repeat 5px 5px; 
      position: absolute;
      top: 10px;
      right: 10px;
      width: 31px;
      height: 22px;
      z-index: 1000;
      outline: 0px;
      background-color: #fff;
      border-radius:5px;
      -moz-border-radius:5px; /* Firefox 3.6 and earlier */
      padding: 5px;
    }
    img { float: left }
    .project-description {
      background-color: #fff;
      margin: 0 0 15px 0;
      float: left;
      width: 100%;
      font-family: Helvetica;
      opacity: 0.8;
      filter: alpha(opacity=80); /* For IE8 and earlier */
      span { 
        color: #fff; 
        text-transform: capitalize;
        background: #000; 
        font-size: 17px; 
        float: left;
        font-weight: normal;
        padding: 10px 35px;
        font-family: TradeGothic;
      }
      p { 
        font-size: 12px; 
        clear: both; 
        display: block;
        margin: 15px 0 0 0; 
        float: left; 
        padding: 0px;
        color: #454545;
        line-height: 1.6em;
        // @include columns(2, 10px);
      }
    }
  }
}

/***********************about***********************/
.about {
  @include main_container;
  .slideshow {
    @include bring_to_front;
    @extend .generic; 
    position: relative;
    z-index: 0;
    height: 400px;
    #slides {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 100;
      .slides_container {
        display: none;
        overflow: hidden;
        position: relative;
        width: 1040px;
        div {
        	width:1040px;
        	height:351px;
        	display:block;
        	img { display:block; }
        }
      }
      .pagination {
      	margin:20px auto 0;
      	width:250px;
      	li {
        	float:left;
        	margin:0 1px;
        	list-style:none;
        	&.current a { background-position:0 -12px; }
        	a {
          	display:block;
          	width:12px;
          	height:0;
          	padding-top:12px;
          	background-image:url('/images/about/btns/pagination.png');
          	background-position:0 0;
          	float:left;
          	overflow:hidden;
          }
        }
      }
    }
  }
  .casual-intro {
    @include bring_to_front;
    width: 475px;
    font-size: 13px;
    float: left;
    padding: 0 15px 10px 0;
    p:first-child {
      &:first-letter {
        font-size: 20px;
      }
    }
  }
  .twitter-feed {
    @include bring_to_front;
    width: 550px;
    height: 252px;
    float: left;  
    overflow-y: scroll;
    .tweet {
      margin: 0px;
      padding: 15px 0 15px 40px;
      border-bottom: 1px solid $grey;
      font-family: Georgia;
      font-size: 11px;
      background: url('/images/about/twitter_bird.png') no-repeat 0% 50%;
      font-weight: bold;
      span { 
        font-size: 10px; 
        font-weight: normal; 
        display: block;
        margin-top: 10px;
      }
    }
  }
  .resume {
    @extend .generic; 
    position: relative;
    background: url('/images/about/border_bg.jpg') #fff repeat-x top left;
    border-top: 25px solid #fff;
    margin: 0;
    .follow {
      position: absolute;
      top: 93px;
      left: 0px;
      height: 20px;
      -webkit-box-reflect: below 0px -webkit-gradient( linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0.0)), color-stop(0.6, rgba(255,255,255,0.3)), color-stop(0.9, rgba(255, 255, 255, 0.7)));
    }
    .dload {
      position: absolute;
      top: 85px;
      right: 0px;
      width: 135px;
      height: 27px;
      background: url('/images/about/btns/dload_resume.jpg') repeat  0px 0px;
      -webkit-box-reflect: below 0px -webkit-gradient( linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0.0)), color-stop(0.6, rgba(255,255,255,0.3)), color-stop(0.9, rgba(255, 255, 255, 0.7)));
      &:hover { background: url('/images/about/btns/dload_resume.jpg') repeat 0px 27px; font-weight: bold }
    }
    h1 {
      background-color: #fff;
      margin: -10px auto 0 auto;
      width: 465px;
      z-index: 5;
      line-height: 1.3em;
      font-size: 24px;
      text-align: center;
      font-weight: normal;
      font-family: "Archer-Medium", BotonBQ, Rockwell, Georgia, Serif;
    }
    summary {
      text-align: justify;
      margin: 10px auto;
      width: 636px;
      display: block;
      font-weight: normal;
      line-height: 1.4em;
      font-size: 13px;
    }
    .category {
      border-top: 1px dotted $grey;
      margin: 10px 0 20px 0;
      @extend .generic; 
      span { 
        float: left;
        cursor: pointer;
        margin-top: -1px;
        color: #fff; 
        background-color: #000; 
        letter-spacing: 5px; 
        padding: 5px 10px;
        font-size: 11px;
        // -webkit-box-reflect: below 0px -webkit-gradient( linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0.0)), color-stop(0.9, rgba(255,255,255,0.3)), color-stop(1.0, rgba(255, 255, 255, 0.7)));
      }
      .skill-list {
        width: 100px;
        float: left;
        ul {
          @extend .generic; 
          padding: 0px;
          margin: 20px 0 0 0;
          li {
            list-style-type: none;
            height: 17px;
            margin: 0 10px 0 0;
            padding-right: 6px;
            font-style: italic;
            font-family: Georgia;
            font-weight: bold;
            font-size: 11px;
            background: url('/images/about/dash.jpg') no-repeat 100% 50%;
          }
        }
      }
      figure {
        width: 940px;
        height: 170px;
        float: left;
        background: url('/images/about/chartBG.jpg') transparent no-repeat 0px 98px;
        margin: 0px;
        table {
          font-family: Georgia;
          height: 150px;
          float: left;
          margin-top: 25px;
          padding-right: 15px;
          &.frontend { width: 315px; td { width: 16% } }
          &.programming { width: 270px; td { width: 25% }}
          &.design { width: 193px; td { width: 33% } }
          &.additional { width: 162px; td { width: 50% } }
          td {
            padding: 0px;
            font-style: italic;
            font-size: 11px;
            text-align: center;
            width: auto;
            label:hover, label.on { color: $grey; cursor: pointer }
          }
          .beginner { @include graph(-75px) }
          .intermediate { @include graph(-50px) }
          .advanced { @include graph(-25px) }
          .expert { @include graph(0px) }
        }
      }
      table {
        @extend .generic;  
        font-family: Georgia;
        margin-top: 25px;
        th { font-family: "Archer-Medium", Georgia, Rockwell, Serif; font-size: 16px; font-weight: normal }
        th, td { 
          line-height: 1.3em; 
          text-align: left; 
          width: 20%; 
          vertical-align: top; 
          padding: 0 15px 15px 0;
          &.date { 
            font-family: "Archer-Medium";
            clear: both; 
            font-weight: normal;
            margin-top: 5px;
            font-size: 13px;
            .job { font-style: italic; color: #6f6f6f; a { font-weight: normal; color: #6f6f6f; font-size: 13px } }
          }
        }
        &.contact-icons {
          margin: 30px 0 50px 0;
          td { 
            text-align: center; 
            padding: 0px; 
            width: auto;
            a {
              width: 58px;
              height: 58px;
              float: left;
              -webkit-box-reflect: below 0px -webkit-gradient( linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0.0)), color-stop(0.6, rgba(255,255,255,0.3)), color-stop(0.9, rgba(255, 255, 255, 0.7)));
              &.email { @include button('/images/about/btns/email.jpg') }
              &.google { @include button('/images/about/btns/google.jpg') }
              &.rss { @include button('/images/about/btns/rss.jpg') }
              &.linkedIn { @include button('/images/about/btns/linkedIn.jpg') }
              &.pinterest { @include button('/images/about/btns/pinterest.jpg') }
              &.facebook { @include button('/images/about/btns/facebook.jpg') }
              &.twitter { @include button('/images/about/btns/twitter.jpg') }
              &.github { @include button('/images/about/btns/github.jpg') }
            }
          }
        }
      }
    }
  }
}

/***********************blog***********************/
.blog {
  @include main_container;
  @include bring_to_front;
  .post {
    @extend .generic; 
    color: $dark-grey;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 1px solid $grey;
    padding: 0 0 20px 0;
    .title-date {
      font-size: 12px;
      float: left;
      clear: both;
      color: $green;
      font-weight: bold;
      height: 14px;
      padding: 10px 30px;
      background: url('/images/blog/title_bg.png') repeat 0px 0px;
    }
    .blog_post {
      margin: 0 auto;
      width: 560px;
      clear: both;
      text-align: center;
      h4 { 
        text-transform: capitalize;
        font-family: "Archer-Medium", BotonBQ, Rockwell, Georgia, Serif;
        margin: 0px;
        font-size: 20px;
        padding: 30px 150px; 
        font-weight: normal; 
        text-align: center;
        background:url('/images/ornament_left.png') no-repeat top left,url('/images/ornament_right.png') no-repeat top right;
      }
      .blog_content { 
        padding: 0px 30px;
        // @include columns(2, 10px);
      }
      .fb-comment-wrapper {
        width: 506px;
        margin: 0 auto;
      }
      p { line-height: 1.3em; padding-bottom: 12px; font-size: 12px; text-align: left }
      a { font-weight: normal; color: $dark-grey; font-style: italic }
      .image { text-align: center; margin: 20px 0 }
    }
  }  
  .pagination {
    @extend .generic; 
    margin: 0 0 20px 0;
    .prev { width: 50%; float: left; text-align: left }
    .next { width: 50%; float: right; text-align: right }
  }
} 

.archives {
  float: left;
  width: 100%; 
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-size: 11px;
    li {
      padding-left: 32px;
      background: url('/images/blog/bullet.jpg') no-repeat 0px 0px;
      margin: 0 10px 15px 10px;
      text-align: center;
      float: right;
      a { font-weight: normal }
      span { 
        color: #6e6e6e; 
        font-style: italic; 
        display: block; 
        padding-top: 6px 
      }
    }
  }
}
