%script
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

%nav
  .off
    %a(href="/")
      %img.btn(src="/images/navigation/portfolio.jpg" alt="portfolio")/
  .on
    %a(href="/about")
      %img.btn(src="/images/navigation/about.jpg" alt="about")/

  .off
    %a(href="/blog")
      %img.btn(src="/images/navigation/blog.jpg" alt="blog")/
.about
  .slideshow
    #slides 
      .slides_container
        %div 
          %img(src="/images/about/slide1.jpg" alt="slide1")/
        %div
          %img(src="/images/about/slide2.jpg" alt="slide2")
        %div
          %img(src="/images/about/slide3.jpg" alt="slide3")          
        %div
          %img(src="/images/about/slide4.jpg" alt="slide4")/
        %div
          %img(src="/images/about/slide5.jpg" alt="slide5")
        %div
          %img(src="/images/about/slide6.jpg" alt="slide6")
        %div
          %img(src="/images/about/slide7.jpg" alt="slide7")
        %div
          %img(src="/images/about/slide8.jpg" alt="slide8")
        %div
          %img(src="/images/about/slide9.jpg" alt="slide9")
        %div
          %img(src="/images/about/slide10.jpg" alt="slide10")
        %div
          %img(src="/images/about/slide11.jpg" alt="slide11")
        %div
          %img(src="/images/about/slide12.jpg" alt="slide12")
        %div
          %img(src="/images/about/slide13.jpg" alt="slide13")
        %div
          %img(src="/images/about/slide14.jpg" alt="slide14")
  
  .casual-intro
    %p
      Hello and thank you for visiting my website!! I am a graphic designer and web developer based in San Francisco, California. As a frontend developer, I specialize in the user interface experience and often take on projects from the design phase to frontend development. I have been developing web applications for several years now, mostly on the Rails framework, and have extensive experience collaborating with designers, backend developers and software engineers.
    %p
      Outside of the professional realm, I&rsquo;m an introverted yet strongly opinionated nerd. I have an elegant, graceful black cat and a loud, silly french bulldog, both incredibly adorable. I love interior design, furniture design, classical music, and cooking. Please feel free to glance at my portfolio and do not hesitate to 
      %a(href="mailto:ana.enders@gmail.com")contact me
      with any feedback or questions.
    %p
      Thanks!!
      
  .twitter-feed

  %script(type="text/template" id="tweet-template")
    .tweet
      <%= text %>
      %span <%= time %> from <%= from %>

  .resume
    %h1 Web Designer and Frontend Developer
    .clear
    %summary 
      I am a website designer and developer interested in user interfaces and website implementation. My experience ranges from the design phase to frontend development. Most of the sites I&rsquo;ve worked on live on the Rails framework, in which I write web compliant views in HTML, HAML, CSS, SASS, JavaScript (through JQuery), and basic Ruby. Due to my basic understanding of Object Oriented Programming and my personal interest in programming languages, such as Java, Ruby and Python, I feel comfortable tinkering with frontend code written by other developers, though I do not write code myself. All the while, I am a designer and creative at heart, which I express primarily through Photoshop. My experience as a hybrid designer and developer has made me particularly qualified to do site-wide QA testing on various platforms and operating systems. In short, I am the pixel&#45;perfect attention&#45;to&#45;detail glue between the design and engineering teams using my skills to facilitate and contribute to both worlds.
    .follow
      %a(href="https://twitter.com/anaenders" class="twitter-follow-button" data-show-count="false")Follow @anaenders
    %a.dload(href="/ana_enders.pdf" target="_blank")
    .clear
    
    .category
      %span education
      .clear
      .category-container
        %table{:cellspacing => "0", :cellpadding => "0"}
          %tr
            %th University of Waterloo
            %th University of Waterloo
            %th Parsons School of Design
            %th Carnegie Mellon University
            %th Centre International D&#39;Etudes Fran&#231;ais
          
          %tr
            %td.date March &#45; May 2011
            %td.date Jan &#45; March 2011
            %td.date 2007 &#45; 2008
            %td.date 2001 &#45; 2005
            %td.date Summer 2004
          
          %tr
            %td Certificate of Completion for Intermediate Java Programming 
            %td Certificate of Completion for Introduction to Java Programming
            %td MFA Design + Technology	
            %td{:rowspan => "2"} BFA European Studies, Music Performance	
            %td{:rowspan => "2"} Certificate in Intensive Language Studies in French	
          %tr 
            %td Online Course for Professional Development
            %td Online Course for Professional Development
            %td Completed one year of a two year program
    .category
      %span skills
      .clear
      .category-container
        .skill-list
          %ul
            %li expert
            %li advanced
            %li intermediate
            %li beginner
        %figure
          %table.frontend{:cellspacing => "0", :cellpadding => "0"}
            %tr
              %td
                .expert.alt
                %label CSS
              %td
                .expert
                %label HAML
              %td
                .expert.alt
                %label HTML
              %td
                .beginner
                %label Javascript
              %td 
                .advanced.alt
                %label JQuery &#38; JQuery-UI
              %td 
                .expert
                %label SASS  
          %table.programming{:cellspacing => "0", :cellpadding => "0"}
            %tr
              %td 
                .intermediate.alt
                %label Java
              %td 
                .beginner
                %label PHP/MySQL
              %td
                .beginner.alt
                %label Python
              %td 
                .beginner
                %label Ruby on Rails
              
          %table.design{:cellspacing => "0", :cellpadding => "0"}
            %tr
              %td 
                .intermediate.alt
                %label Illustrator
              %td 
                .expert
                %label Photoshop
              %td 
                .expert.alt
                %label Print/Web Design
          %table.additional{:cellspacing => "0", :cellpadding => "0"}
            %tr
              %td 
                .expert
                %label Detail Oriented
              %td 
                .expert.alt
                %label Fluent Spanish
    .category
      %span experience
      .clear
      .category-container
        %table{:cellspacing => "0", :cellpadding => "0"}
          %tr
            %th 
              Freelance Web Designer and Developer
            %th 
              Frontend Engineer
            %th 
              Design Intern
            %th 
              Freelance Web Designer and Developer
            %th 
              Junior Woodworker and Website Manager
      
          %tr
            %td.date 
              San Francisco, CA
              .job
                %a(href="/")
                  Self Employed
            %td.date 
              New York, NY
              .job
                %a(href="http://intersectnyc.com" target="_blank")
                  Intersect NYC
            %td.date 
              Brooklyn, NY
              .job
                %a(href="http://creativelabny.com/" target="_blank")
                  Creative Lab
            %td.date 
              New York, NY
              .job
                %a(href="/")
                  Self Employed
            %td.date 
              Brooklyn, NY
              .job
                %a(href="http://cityjoinery.com/" target="_blank")
                  City Joinery
          
          %tr
            %td 
              September 2011 &#45; Present 
              %br/
              (8 months)
            %td 
              September 2008 &#45; September 2011 
              %br/
              (3 years 1 month)
            %td 
              June 2008 &#45; September 2008 
              %br/
              (4 months)	
            %td 
              August 2008 &#45; August 2008 
              %br/
              (1 month)	
            %td 
              February 2006 &#45; February 2007 
              %br/
              (1 year 1 month)	
          %tr 
            %td Freelancing for old clients in need of frontend adjustments to their existing sites.
            %td As a member of the development team, I worked closely with the designers, backend programmers, and software engineers in producing custom sites and content management software.
            %td In addition to being a photo shoot and set design assistant, I worked on image post-production editing, logo design, graphic design, web design and web development using Photoshop, HTML, CSS and Flash.
            %td Designed and developed a housing site using HTML, CSS, Javascript, PHP and MySql. Created design templates and programmed both client and server sides.
            %td Responsible for managing content and editing product images through Photoshop for the company website. Office tasks included proofreading and editing written content for web and printed brochure. Assisted in the production of custom wood furniture making.
    .category
      %span additional information
      .clear
      .category-container
        %table.contact-icons
          %td
            %img.btn(src="/images/about/btns/cmu.jpg" alt="cmu")/
          %td
            %a.email{:target => 'blank'}(href="mailto:ana.enders@gmail.com")
          %td
            %a.google{:target => 'blank'}(href="https://plus.google.com/101992801915803767157/posts")
          %td
            %a.rss(href="/feed.rss")
          %td
            %a.linkedIn{:target => 'blank'}(href="http://www.linkedin.com/in/anaenders")
          %td
            %a.pinterest{:target => 'blank'}(href="http://pinterest.com/anamonster/")
          %td
            %a.facebook{:target => 'blank'}(href="https://www.facebook.com/anamonster")
          %td
            %a.twitter{:target => 'blank'}(href="https://twitter.com/#!/anaenders")
          %td
            %a.github{:target => 'blank'}(href="https://github.com/anacarter")
            
.clear
