%nav
  .off
    %a(href="/")
      %img.btn(src="/images/btns/portfolio.jpg" alt="portfolio")/
  .off
    %a(href="/about")
      %img.btn(src="/images/btns/about.jpg" alt="about")/

  .on
    %a(href="/blog")
      %img.btn(src="/images/btns/blog.jpg" alt="blog")/
.about
