.slideshow
  %ul
    %li.slide1
    %li.slide2
    %li.slide3
    %li.slide4
    %li.slide5
    %li.slide6
    %li.slide7
    %li.slide8
    %li.slide9
    %li.slide10
    %li.slide11
    %li.slide12
    %li.slide13
    %li.slide14
    %li.slide15
    %li.slide16
    %li.slide17

.about
  .intro
    .intro-description
      %p
        %span
          Work.
        For some time now, I've been working closely with engineers, first as a Front-end Engineer and Designer, then as a Tech Lead and now as an Engineering Manager. I've spent the last 5 years at a startup where I joined as employee #3 (they've since raised several rounds and are at 135+ employees).
      %p
        When coding, my goal is to implement and hand off compliant and pixel-perfect templates for engineers to flesh out with backend functionality. When designing, my tools of choice are Photoshop and Invision. When recruiting, I spend time vetting engineers, conducting initial phone screens and in-house interviews&mdash;I then manage many of these new hires. As a tech lead, I focused on delivering features for our consumer facing web application, working closely with product managers and various stakeholders across the company. Now, I focus primarily on managing a team of fullstack engineers.
    .intro-description
      %p
        %span
          Fun.
        I enjoy interior design, and am obsessed with figuring out how to make small spaces beautiful and functional. I have perfected the art of home-made waffles and I'm a big fan of Bea Arthur ice cream cone from Big Gay Ice Cream Shop. But my favorite way to spend time is to relax and cuddle with my clingy cat Toby and my hyperactive dog Butters while binge watching TV shows with
        %a(href="http://www.ianenders.com" target="_blank")
          Ian.
        I've tried my hand at gardening but I'm not quite there yet&mdash;my ferns have seen better days. I dislike the entire winter and summer seasons, waking up early, and IPAs.
      %p
        I studied music performance at Carnegie Mellon University, then took up wood working, began a Masters in Design + Technology at Parsons, and now I lead and manage full-stack engineers. I keep busy and I get things done. Check out
        %a(href="/Ana_Enders_Resume.pdf" target="_blank") my resume
        to learn more about what I do.

  .resume
    %h1 Engineering Manager
    .resume-summary
      I consider myself a generalist&mdash;shifting focus to whatever the business' needs are. I split my time between managing ten people and collaborating with the VP of Engineering and the CTO on behind-the-scences opperational fun. Having established our code standards for all our SASS, I review pull requests and work on features whenever I have bandwidth. When I'm not an individual contributor, or doing operational work, I dedicate my time to my direct reports, making sure they are happy, engaged, learning, and have what they need to be highly functional contributors.

    // Education desktop
    .resume-block
      .section-label--left education
      .resume-education--desktop
        .section-item
          .section-item-header University of Waterloo
          .section-item-header University of Waterloo
          .section-item-header Parsons School of Design
          .section-item-header Carnegie Mellon University
          .section-item-header Centre International D&#39;Etudes Fran&#231;ais
        .section-item
          .section-item-grey March &#45; May 2011
          .section-item-grey Jan &#45; March 2011
          .section-item-grey 2007 &#45; 2008
          .section-item-grey 2001 &#45; 2005
          .section-item-grey Summer 2004
        .section-item
          .section-item-copy Certificate of Completion for Intermediate Java Programming
          .section-item-copy Certificate of Completion for Introduction to Java Programming
          .section-item-copy MFA Design + Technology
          .section-item-copy BFA Music Performance, European Studies
          .section-item-copy Certificate in Intensive Language Studies in French
        .section-item
          .section-item-copy Online Course for Professional Development
          .section-item-copy Online Course for Professional Development
          .section-item-copy Completed one year of a two year program
          .section-item-copy &nbsp;
          .section-item-copy &nbsp;

      // Education mobile
      .resume-education--mobile
        .section-item
          .section-item-header University of Waterloo
          .section-item-grey March &#45; May 2011
          .section-item-copy Certificate of Completion for Intermediate Java Programming
          .section-item-copy Online Course for Professional Development
        .section-item
          .section-item-header University of Waterloo
          .section-item-grey Certificate of Completion for Introduction to Java Programming
          .section-item-copy Online Course for Professional Development
        .section-item
          .section-item-header Parsons School of Design
          .section-item-grey 2007 &#45; 2008
          .section-item-copy MFA Design + Technology
          .section-item-copy Completed one year of a two year program
        .section-item
          .section-item-header Carnegie Mellon University
          .section-item-grey 2001 &#45; 2005
          .section-item-copy BFA Music Performance, European Studies
        .section-item
          .section-item-header Centre International D&#39;Etudes Fran&#231;ais
          .section-item-grey Summer 2004
          .section-item-copy Certificate in Intensive Language Studies in French

    // Skills desktop
    .resume-block
      .section-label--right skills
      .resume-skills--desktop
        .resume-skills
          %ul
            %li expert
            %li advanced
            %li intermediate
            %li beginner
        %figure
          .frontend
            %p
              Front-end Technologies
            .bar
              .expert
              .graph-header
              %label CSS
            .bar
              .intermediate.alt
              .graph-header
              %label JavaScript
            .bar
              .expert
              .graph-header
              %label HAML
            .bar
              .expert.alt
              .graph-header
              %label HTML
            .bar
              .intermediate
              .graph-header
              %label CoffeeScript
            .bar
              .expert.alt
              .graph-header.dark
              %label SASS
          .programming
            %p
              Programming
            .bar
              .intermediate.alt
              .graph-header
              %label Java
            .bar
              .beginner
              .graph-header
              %label MySQL
            .bar
              .beginner.alt
              .graph-header
              %label Python
            .bar
              .beginner
              .graph-header.dark
              %label Ruby on Rails
          .design
            %p
              Design
            .bar
              .beginner.alt
              .graph-header
              %label Illustrator
            .bar
              .expert
              .graph-header
              %label Photoshop
            .bar
              .advanced.alt
              .graph-header.dark
              %label Graphic Design
            .bar
              .advanced
              .graph-header.dark
              %label UX &#38; UI Design
          .additional
            %p
              Management
            .bar
              .expert.alt
              .graph-header
              %label Project Management
            .bar
              .expert
              .graph-header.dark
              %label People Management

      // Job history desktop
    .resume-block
      .section-label--left experience
      .resume-jobs--desktop
        .resume-jobs-window
          .resume-jobs-wrapper
            .next_container
              .next
                %span(id = "next" href = "#")
                  %i.fa.fa-chevron-right
            .prev_container
              .previous
                %span(id = "previous" href = "#")
                  %i.fa.fa-chevron-left
            .resume-jobs-container
              .resume-jobs-slide
                .section-item
                  .section-item-header Engineering Manager
                  .section-item-header Freelance Frontend Developer
                  .section-item-header Front-end Developer
                  .section-item-header Design Intern
                  .section-item-header Freelance Web Designer and Developer
                  .section-item-header Junior Woodworker and Website Manager
                .section-item
                  .section-item-grey
                    New York, NY
                    .job
                      %a(href="http://www.themuse.com/" target="_blank")
                        The Muse
                  .section-item-grey
                    San Francisco, CA
                    .job
                      Self-Employed
                  .section-item-grey
                    New York, NY
                    .job
                      %a(href="https://www.razorfish.com/" target="_blank")
                        Intersect NYC (a.k.a. Crown Partners a.k.a. Razorfish)
                  .section-item-grey
                    Brooklyn, NY
                    .job
                      %a(href="http://creativelabny.com/" target="_blank")
                        Creative Lab
                  .section-item-grey
                    New York, NY
                    .job
                      Self-Employed
                  .section-item-grey
                    Brooklyn, NY
                    .job
                      %a(href="http://cityjoinery.com/" target="_blank")
                        City Joinery
                .section-item
                  .section-item-copy
                    July 2012 &#45; Present
                  .section-item-copy
                    09/2011 &#45; 07/2012
                    %br/
                    (9 months)
                  .section-item-copy
                    09/2008 &#45; 09/2011
                    %br/
                    (3 years 1 month)
                  .section-item-copy
                    06/2008 &#45; 09/2008
                    %br/
                    (4 months)
                  .section-item-copy
                    08/2008 &#45; 08/2008
                    %br/
                    (1 month)
                  .section-item-copy
                    02/2006 &#45; 02/2007
                    %br/
                    (1 year 1 month)
                .section-item
                  .section-item-copy
                    Currently a manager to full-stack engineers, establishing code standards, performing code reviews, coding, and doing behind-the-scenes operational work. As a hiring manager, I’ve helped to recruit many of the engineers on the team. My strengths are in managing projects and people, and making sure everyone is happy and productive.
                  .section-item-copy
                    Freelancing for old clients in need of front-end adjustments to their existing sites. Also worked on some logo and branding designs.
                  .section-item-copy
                    As a member of the development team, I worked closely with the designers, backend programmers, and software engineers in producing custom e-commerse sites and content management software.
                  .section-item-copy
                    In addition to being a photo shoot and set design assistant, I worked on image post-production editing, logo design, graphic design, web design and web development using Photoshop, HTML, CSS and Flash.
                  .section-item-copy
                    Designed and developed a housing site using HTML, CSS, Javascript, PHP and MySql. Created design templates and programmed both client and server sides.
                  .section-item-copy
                    Responsible for managing content and editing product images through Photoshop for the company website. Office tasks included proofreading and editing written content for web and printed brochure. Assisted in the production of custom wood furniture making.

      // Job history mobile
      .resume-jobs--mobile
        .section-item
          .section-item-header Engineering Manager
          .section-item-grey
            New York, NY
            .job
              %a(href="http://www.themuse.com/" target="_blank")
                The Muse
          .section-item-copy July 2012 - Present
          .section-item-copy Currently a manager to full-stack engineers, establishing code standards, performing code reviews, coding, and doing behind-the-scenes operational work. As a hiring manager, I’ve helped to recruit many of the engineers on the team. My strengths are in managing projects and people, and making sure everyone is happy and productive.
        .section-item
          .section-item-header Freelance Front-end Developer
          .section-item-grey
            San Francisco, CA
            .job
              %a(href="/")
                Self Employed
          .section-item-copy
            September 2011 &#45; July 2012
            %br/
            (9 months)
          .section-item-copy Freelancing for old clients in need of front-end adjustments to their existing sites.
        .section-item
          .section-item-header Front-end Developer
          .section-item-grey
            New York, NY
            .job
              %a(href="http://intersectnyc.com" target="_blank")
                Intersect NYC
          .section-item-copy
            September 2008 &#45; September 2011
            %br/
            (3 years 1 month)
          .section-item-copy As a member of the engineering team, I worked closely with the designers, backend programmers, and software engineers in producing custom sites and content management software.
        .section-item
          .section-item-header Design Intern
          .section-item-grey
            Brooklyn, NY
            .job
              %a(href="http://creativelabny.com/" target="_blank")
                Creative Lab
          .section-item-copy
            June 2008 &#45; September 2008
            %br/
            (4 months)
          .section-item-copy In addition to being a photo shoot and set design assistant, I worked on image post-production editing, logo design, graphic design, web design and web development using Photoshop, HTML, CSS and Flash.
        .section-item
          .section-item-header Freelance Web Designer and Developer
          .section-item-grey
            New York, NY
            .job
              %a(href="/")
                Self Employed
          .section-item-copy
            August 2008 &#45; August 2008
            %br/
            (1 month)
          .section-item-copy Designed and developed a housing site using HTML, CSS, Javascript, PHP and MySql. Created design templates and programmed both client and server sides.
        .section-item
          .section-item-header Junior Woodworker and Website Manager
          .section-item-grey
            Brooklyn, NY
            .job
              %a(href="http://cityjoinery.com/" target="_blank")
                City Joinery
          .section-item-copy
            February 2006 &#45; February 2007
            %br/
            (1 year 1 month)
          .section-item-copy Responsible for managing content and editing product images through Photoshop for the company website. Office tasks included proofreading and editing written content for web and printed brochure. Assisted in the production of custom wood furniture making.

    // Social
    .resume-block
      .social
        %a.social-item{:target => 'blank'}(href="http://www.linkedin.com/in/anaenders")
          %i.fa.fa-linkedin
        %a.social-item{:target => 'blank'}(href="https://twitter.com/#!/anaenders")
          %i.fa.fa-twitter
        %a.social-item{:target => 'blank'}(href="https://github.com/anaenders")
          %i.fa.fa-github