%nav
  .on
    %a(href="/")
      %img.btn(src="/images/navigation/portfolio.jpg" alt="portfolio")/
  .off
    %a(href="/about")
      %img.btn(src="/images/navigation/about.jpg" alt="about")/

  .off
    %a(href="/blog")
      %img.btn(src="/images/navigation/blog.jpg" alt="blog")/

.portfolio
  .web.professional   
    .section_label
      %span
        professional web development & design
  
    .small-thumb#hackbright_opener
      %img(src="/images/portfolio/web/hackbright.png" alt="Hackbright Academy")/
    
    .small-thumb#tiffany_opener
      %img(src="/images/portfolio/web/tiffany.png" alt="Tiffany Ring Finder")/
      
    .small-thumb#juicegeneration_opener
      %img(src="/images/portfolio/web/juicegeneration.png" alt="Juice Generation")/

    .small-thumb#scully_opener
      %img(src="/images/portfolio/web/scully.png" alt="scully and scully")/
  
    .small-thumb#mally_opener
      %img(src="/images/portfolio/web/mally.png" alt="mally beauty")/
  
    .small-thumb#kico_opener
      %img(src="/images/portfolio/web/kicokids.png" alt="kico kids")/
  
    .small-thumb#ajaline_opener
      %img(src="/images/portfolio/web/ajaline.png" alt="ajaline")/
  
    .small-thumb#satellite_opener
      %img(src="/images/portfolio/web/satellite_records.png" alt="satellite records")/
  
    .small-thumb#kenneth_cole_opener
      %img(src="/images/portfolio/web/kenneth_cole.png" alt="kenneth cole")/
  
    .small-thumb#bobbi_brown_opener
      %img(src="/images/portfolio/web/bobbi_brown.png" alt="bobbi brown")/
  
    .small-thumb#yigal_opener
      %img(src="/images/portfolio/web/yigalazrouel.png" alt="yigal azrouel")/
  
    .small-thumb#boast_opener
      %img(src="/images/portfolio/web/boast.png" alt="boast")/
    
    .small-thumb#lanecrawford_opener
      %img(src="/images/portfolio/web/lanecrawford.png" alt="lane crawford")/
  
    .small-thumb#lanecrawford_teaser_opener
      %img(src="/images/portfolio/web/lanecrawford_teaser.png" alt="lane crawford teaser")/
    
    .small-thumb#grandsf_opener
      %a(href="#")
        %img(src="/images/portfolio/web/grandsf.png" alt="grand sf")/
  
    .small-thumb#newlywish_opener
      %a(href="#")
        %img(src="/images/portfolio/web/newlywish.png" alt="newlywish")/
    
    .small-thumb#luckyzinc_opener
      %a(href="#")
        %img(src="/images/portfolio/web/luckyzinc.png" alt="lucky zinc")/
    
    .small-thumb#carlosfalchi_opener
      %a(href="#")
        %img(src="/images/portfolio/web/carlosfalchi.png" alt="carlos falchi")/
    
    .small-thumb#carlosfalchi_teaser_opener
      %a(href="#")
        %img(src="/images/portfolio/web/carlosfalchi_teaser.png" alt="carlos falchi teaser")/
    
    .small-thumb#coolercleanse_opener
      %a(href="#")
        %img(src="/images/portfolio/web/coolercleanse.png" alt="cooler cleanse")/
        
    .small-thumb#chilewich_wholesale_opener
      %a(href="#")
        %img(src="/images/portfolio/web/chilewich_wholesale.png" alt="chilewich wholesale")/
  
    .small-thumb#lucky_stylespotter_opener
      %a(href="#")
        %img(src="/images/portfolio/web/lss.png" alt="lucky style spotter")/
    
    .small-thumb#bond_and_bowery_opener
      %a(href="#")
        %img(src="/images/portfolio/web/bond_and_bowery.png" alt="bond and bowery")/
    
    .small-thumb#chilewich_opener
      %a(href="#")
        %img(src="/images/portfolio/web/chilewich.png" alt="chilewich")/
  
    .small-thumb#thornton_opener
      %a(href="#")
        %img(src="/images/portfolio/web/thornton.png" alt="thornton tomasetti")/
  
    .small-thumb#liz_opener 
      %a(href="#")
        %img(src="/images/portfolio/web/liz.png" alt="liz")/
   
    .small-thumb#citibabes_opener 
      %a(href="#")
        %img(src="/images/portfolio/web/citibabes.png" alt="citibabes")/
    
    .small-thumb#mally_v1_opener
      %a(href="#")
        %img(src="/images/portfolio/web/mally_v1.png" alt="mally beauty")/
    
    .small-thumb#kates_opener
      %a(href="#")
        %img(src="/images/portfolio/web/kates.png" alt="kates paperie")/
    
    .small-thumb#kimara_opener
      %a(href="#")
        %img(src="/images/portfolio/web/kimara.png" alt="kimara")/
        
    .small-thumb#cinemax_opener
      %a(href="#")
        %img(src="/images/portfolio/web/cinemax.png" alt="cinemax")/

  .web.personal    
    .section_label
      %span
        personal web development & design
      
    .small-thumb#orsella_opener
      %a(href="#")
        %img(src="/images/portfolio/web/orsella.png" alt="orsella's site")/
        
    .small-thumb#wedding_site_opener
      %img(src="/images/portfolio/web/ana_ian.png" alt="ana and ian")/
      
    .small-thumb#kayandy_opener
      %img(src="/images/portfolio/web/kayandy.png" alt="kayleigh and andy")/
  
  .print
    .section_label
      %span 
        print
  
    .small-thumb#bwcollage1_opener
      %img(src="/images/portfolio/print/bw1.jpg" alt="black and white")/
      
    .group-float
      .small-thumb#bwcollage2_opener
        %img(src="/images/portfolio/print/bw2.jpg" alt="black and white")/
      .small-thumb#bwcollage3_opener
        %img(src="/images/portfolio/print/bw3.jpg" alt="black and white")/
        
    .group-float
      .small-thumb#color_collage2_opener
        %img(src="/images/portfolio/print/color1.jpg" alt="color")/
      .small-thumb#color_collage3_opener
        %img(src="/images/portfolio/print/color2.jpg" alt="color")/
    
    .small-thumb#color_collage1_opener
      %img(src="/images/portfolio/print/color3.jpg" alt="color")/
    
    .short-row.abstract
      .small-thumb#abstract_opener
        %a(href="#")
          %img(src="/images/portfolio/print/abstract.png" alt="abstract")/

    .short-row.signage
      .small-thumb#signage_opener
        %a(href="#")
          %img(src="/images/portfolio/print/signage.png" alt="signage")/
    
  .woodwork
    .section_label
      %span
        woodwork
          
    .small-thumb.one#sycamore_opener
      %img(src="/images/portfolio/woodwork/wood1.jpg" alt="wood")/
    
    .small-thumb.two#walnut_opener
      %img(src="/images/portfolio/woodwork/wood2.jpg" alt="wood")/
    
    .small-thumb.three#walnut_shelves_opener
      %img(src="/images/portfolio/woodwork/wood3.jpg" alt="wood")/
  
    .small-thumb.four#cherry_opener
      %img(src="/images/portfolio/woodwork/wood4.jpg" alt="wood")/
  
.clear

/ START LARGE PROJECT DESCRIPTIONS

#hackbright
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/hackbright.jpg" alt="Hackbright Academy")/
      .project-description
        %span Logo Design&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Hackbright Academy
        %p 
          I was contracted to design a logo for this super awesome all-girl programing academy. As a new institution, there was a lot of emphasis on getting the branding and logo just right. I wanted the logo to be feminine yet gender neutral enough in the event that they open the course to men as well. URL:
          %a(href="http://hackbrightacademy.com/" target="_blank")
            http://hackbrightacademy.com/

#tiffany    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/tiffany.jpg" alt="Tiffany")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Tiffany &#38; Co. Ring Finder
        %p 
          The Ring Finder app is a private voting application wrapped inside of facebook or as a standalone web page. A user would create a list of rings they like using the iPhone Ring Finder app, and share it with their friends by emailing a unique URL, which link guests to the web or facebook, depending on how one logs on. There, people can vote and comment on their favorite rings. My role included writing the views (HTML/CSS) on a Rails framework for the web UI.
          
#juicegeneration    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/juicegeneration.jpg" alt="Juice Generation")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Juice Generation
        %p 
          Developed the front end of this detox juice-centric e-commerce site by writing the HTML, CSS, basic Ruby and some Javascript(JQuery) for the user interface. URL:
          %a(href="http://juicegeneration.com/" target="_blank")
            http://juicegeneration.com/

#orsella    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/orsella.jpg" alt="Orsella")/
      .project-description
        %span Design&nbsp;&#38;&nbsp;Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Orsella
        %p 
          This is a super simple site for my long time friend. It's a snazzy, modern site with a fullscreen slideshow rotating through some of her favorite images. The social networking icons link visitors to her online worlds, such as Facebook, Twitter, etc. I designed and wrote the UI in HTML5, CSS3, and plugged in a JavaScript Slideshow. Server configuration and deployment were handled by
          %a(href="http://ianenders.com/" target="_blank")
            Ian.
          URL:
          %a(href="http://orsella.com/" target="_blank")
            http://orsella.com
    
#wedding_site     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/ana_ian.jpg" alt="Ana and Ian")/
      .project-description
        %span Design&nbsp;&#38;&nbsp;Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Ian&nbsp;&#38;&nbsp;Ana's Wedding
        %p 
          For our wedding, 
          %a(href="http://ianenders.com/" target="_blank")
            Ian (my husband) 
          and I put together this super simple site, which listed our wedding details and allowed our guests to RSVP, pick their meals, and leave comments regarding food considerations. Ian wired up the database, while I designed and implemented the UI.

#scully     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/scully.jpg" alt="Scully & Scully")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Scully&nbsp;&#38;&nbsp;Scully
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views. URL:
          %a(href="http://www.scullyandscully.com" target="_blank")
            http://www.scullyandscully.com
   
#mally     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/mally.jpg" alt="Mally Beauty")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Mally Beauty
        %p 
          Mally Beauty take two, a redesign of the old Mally, which I also worked on (see below). This redesign presents a slicker user interface and focuses heavily on social networking. Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views. URL: 
          %a(href="http://www.mallybeauty.com" target="_blank")
            http://www.mallybeauty.com
                              
#kayandy     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/kayandy.jpg" alt="Kaleigh and Andy")/
      .project-description
        %span Design&nbsp;&#38;&nbsp;Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Kayleigh&nbsp;&#38;&nbsp;Andy&rsquo;s Wedding
        %p Designed and implemented the UI for my sister-in-law and her husband's wedding. It allowed guests to RSVP, read information about the wedding itinerary, read about the couple, their honeymoon plans, and how to access their wedding registry.
                        
#kico     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/kicokids.jpg" alt="Kico Kids")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Kico Kids
        %p 
          %p 
            Partnered with 
            %a(href="http://intersectnyc.com" target="_blank")
              Intersect NYC 
            to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views for this kid's clothing e-commerce site. URL:
            %a(href="http://www.kicokids.com" target="_blank")
              http://www.kicokids.com 
            
#ajaline     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/ajaline.jpg" alt="Ajaline")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Ajaline
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views for this exclusive high-end fine jewelry site.
          
#satellite     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/satellite.jpg" alt="Satellite Records")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Satellite Records
        %p 
          Satellite Records is a major player in the industry of digital download music with DJ's all around the world as its target audience. I contributed to the the frontend by writing HTML, CSS, to produce web compliant Rails views. URL:
          %a(href="http://www.satelliterecords.com" target="_blank")
            http://www.satelliterecords.com
            
#kenneth_cole     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/kenneth_cole.jpg" alt="Kenneth Cole")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Kenneth Cole
        %p
          For this rails application I implemented the user interface by writing web compliant Rails views in HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to create a website, a facebook page, and an interface for mobile devices, namely Webkit and Blackberry. Partnered with 
          %a(href="http://www.intersectnyc.com" target="_blank")
            Intersect NYC.
            
#bobbi_brown     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/bobbi_brown.jpg" alt="Bobbi Brown")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Bobbi Brown
        %p
          As a temporary administrator for Bobbi Brown's facebook page, I created a custom tab called Beauty Rules and reconfigured third party HTML to work within the Facebook framework. Partnered with 
          %a(href="http://www.intersectnyc.com" target="_blank")
            Intersect NYC.
          URL:
          %a(href="http://www.facebook.com/BobbiBrown?v=app_6009294086&ref=ts" target="_blank")
            http://www.facebook.com/BobbiBrown?v=app_6009294086&ref=ts
            
#yigal     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/yigalazrouel.jpg" alt="Yigal Azrouel")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Yigal Azrouel
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views for this high-end fashion design site
          URL:
          %a(href="http://www.yigal-azrouel.com/" target="_blank")
            http://www.yigal-azrouel.com
            
#boast     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/boast.jpg" alt="Boast USA")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Boast USA
        %p 
          Took an existing Rails e-commerce framework and re-skinned it to make this site. Other than the designers involved in the making of Boast, little backend support was required, which made the development phase for the most part a rare solo project. Developed the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views in partnership with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
          URL:
          %a(href="http://www.boastusa.com/" target="_blank")
            http://www.boastusa.com
            
#lanecrawford     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/lanecrawford.jpg" alt="Lane Crawford")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Lane Crawford
        %p 
          Lane Crawford Heritage 160 is a micro site that lives under the umbrella site 
          %a(href="http://www.lanecrawford.com/")
            http://www.lanecrawford.com.
          For this site, I wrote HTML, CSS, and incorporated third party XML, SWF and flash files. Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
                        
#lanecrawford_teaser     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/lanecrawford_teaser.jpg" alt="Lane Crawford")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Lane Crawford Teaser
        %p 
          Lane Crawford Teaser was the prelude to Lane Crawford Heritage 160, a micro site that lives under the umbrella site 
          %a(href="http://www.lanecrawford.com/")
            http://www.lanecrawford.com.
          For this site, I wrote the HTML and CSS. Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
            
#grandsf     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/grandsf.jpg" alt="Grand SF")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Grand SF
        %p 
          Fot Grand SF I wrote the HTML5 video player and encoded other formats of videos, such as mp4 and ogg type, to supplement flash video for browsers that are HTML5 compatible. Developed in partnership with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
          URL:
          %a(href="http://www.agrandsite.com/" target="_blank")
            http://www.agrandsite.com
            
#newlywish     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/newlywish.jpg" alt="Newlywish")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Newlywish
        %p 
          "NewlyWish is a wedding gift registry service designed to provide to-be-weds, their friends and family, with the choice, convenience, and personalization they desire." This project involved many developers. My role included writing some of the frontend using HTML, CSS, and some very basic Ruby and JavaScript(JQuery). Developed in partnership with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
          URL:
          %a(href="http://www.newlywish.com/" target="_blank")
            http://www.newlywish.com
            
#luckyzinc     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/luckyzinc.jpg" alt="Lucky Insider")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Lucky Insider
        %p 
          Lucky Magazine and American Express teamed up to create this site to promote the zync credit card. Much like its predecessor 
          %a(href="http://http://stylespotter.luckymag.com/" target="_blank")
            Lucky Style Spotter
          , it focuses on users uploaded looks and the expert advice given regarding their style. Collaborated with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC
          to implement the re-skinning of the user interface by writing HTML, CSS and basic Ruby for the frontend. 
          URL:
          %a(href="http://zync.luckylookout.com/" target="_blank")
            http://zync.luckylookout.com
            
#carlosfalchi     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/carlosfalchi.jpg" alt="Carlos Falchi")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Carlos Falchi
        %p 
          For this site I wrote XML builder files and integrated much of the flash into our rails framework. To a lesser extent I partially wired up the content management system in the back-end. All HTML and CSS and most Javascript was written by me. Collaborated with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
          URL:
          %a(href="http://www.carlosfalchi.com/" target="_blank")
            http://www.carlosfalchi.com 
            
#carlosfalchi_teaser     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/carlosfalchi_teaser.jpg" alt="Carlos Falchi Teaser")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Carlos Falchi Teaser
        %p 
          Developed the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views in partnership with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
            
#coolercleanse    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/coolercleanse.jpg" alt="Cooler Cleanse")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Cooler Cleanse
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          in developing the front end of this detox juice-centric e-commerce site. My role included writing the HTML, CSS, basic Ruby and some Javascript(JQuery) for the user interface. 
          URL:
          %a(href="http://www.coolercleanse.com/" target="_blank")
            http://www.coolercleanse.com

#chilewich_wholesale    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/chilewich_wholesale.jpg" alt="Chilewich Wholesale")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Chilewich Wholesale
        %p 
          Developed in partnership with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC. 
          This is a sub site for 
          %a(href="http://www.chilewich.com" target="_blank")
            www.chilewich.com
          targeted at wholesale partners. My development work included writing HTML, CSS, basic Ruby and some Javascript for the user interface. 
          URL:
          %a(href="http://www.chilewich.com/wholesale/" target="_blank")
            http://www.chilewich.com/wholesale
                    
#lucky_stylespotter    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/lss.jpg" alt="Lucky Stylespotter")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Lucky Stylespotter
        %p 
          Partnered with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          in fully re-skinning the front end of this fashion setting user base driven site by writing HTML, CSS, basic Ruby and some Javascript for the user interface. 
          URL:
          %a(href="http://stylespotter.luckymag.com/" target="_blank")
            http://stylespotter.luckymag.com
 
#bond_and_bowery    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/bond_and_bowery.jpg" alt="Bond and Bowery")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Bond & Bowery
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to re-skin this vast site written almost entirely in PHP. I wrote new HTML, re-formatted existing HTML with CSS, wrote basic PHP, and Javascript for the entire user interface. 
          URL:
          %a(href="http://www.bondandbowery.com/" target="_blank")
            http://www.bondandbowery.com
            
#chilewich    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/chilewich.jpg" alt="Chilewich")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Chilewich
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop this striking and elegant e-commerce site, which emphasizes craftsmanship and well made designs with a focus on materials and textiles. I provided HTML, CSS, basic Ruby and some Javascript for the front end. 
          URL:
          %a(href="http://www.chilewich.com/" target="_blank")
            http://www.chilewich.com
            
#thornton    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/thornton.jpg" alt="Thornton Tomasetti")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Thornton Tomasetti
        %p 
          Partnered with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the user interface for this site, which features a search engine for navigating through this structural engineering firm's portfolio. I provided HTML, CSS, basic Ruby and some Javascript for the front end.
          URL:
          %a(href="http://www.thorntontomasetti.com/" target="_blank")
            http://www.thorntontomasetti.com
            
#liz    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/liz.jpg" alt="Liz Claiborne")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Liz Claiborne
        %p 
          Collaborated with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the user interface to achieve the company's new vision and relaunching of the Liz brand. I provided HTML, CSS, and basic Ruby for the front end.

#citibabes    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/citibabes.jpg" alt="Citibabes")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Citibabes
        %p 
          This vibrant site is a one stop shop for city parents on the go. Partnered with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the user interface by providing HTML, CSS, basic Ruby and some Javascript(JQuery) for the front end.
          URL:
          %a(href="http://www.citibabes.com/" target="_blank")
            http://www.citibabes.com
            
#mally_v1    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/mally_v1.jpg" alt="Mally Beauty")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Mally Beauty
        %p 
          This site focuses on it's community and sells an extensive line of beauty products. Partnered with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the user interface by providing HTML, CSS, and basic Ruby for the front end.
          
#kates    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/kates.jpg" alt="Kate's Paperie")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Kate's Paperie
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby to produce web compliant Rails views. 
          URL:
          %a(href="http://www.katespaperie.com/" target="_blank")
            http://www.katespaperie.com
            
#kimara    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/cinemax.jpg" alt="Cinemax")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Kimara Ahnert
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby to produce web compliant Rails views for this high end beauty product e-commerce site. 
          URL:
          %a(href="http://getmax.com/" target="_blank")
            http://getmax.com
            
#cinemax    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/cinemax.jpg" alt="Cinemax")/
      .project-description
        %span Development&nbsp;&nbsp;&#8226;&#8226;&nbsp;&nbsp;Cinemax
        %p 
          Collaborated with 
          %a(href="http://creativelabny.com/" target="_blank")
            CreativeLab 
          in re-skinning this site using XML, Flash, and HTML. 
          URL:
          %a(href="http://getmax.com/" target="_blank")
            http://getmax.com

#bwcollage1     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/bwcollage1.jpg" alt="bwcollage")/
      .project-description
        %span Composing with random objects, part 1.1
        %p In a graduate school course called "Design Process; Visual Communication", we were given an assignment with the following parameters: we were to create three different compositions in black and white with objects randomly picked out from a bag. We were allowed to use a Xerox machine to create copies and we were allowed to alter the size of these objects. Each object was allowed to appear several times in the same composition. I picked a screw, an apple and a crayon tip. This is the first of three from the black and white series.   
  
#bwcollage2    
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/bwcollage3.jpg" alt="bwcollage")/
      .project-description
        %span Composing with random objects, part 1.2
        %p This is the secod of three from the black and white series. This particular collage was received well and had the most positive critique, particularly due to the placing of the abstract crayon tip in the upper left. It is also my personal favorite from the series.  
  
        
#bwcollage3     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/bwcollage2.jpg" alt="bwcollage")/
      .project-description
        %span Composing with random objects, part 1.3
        %p This is the third of three from the black and white series. I attempted to add additional contrast by applying image discontinuity, where an object is misaligned with itself.
              
#color_collage1     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/colorCollage1.jpg" alt="color collage")/
      .project-description
        %span Composing with random objects, part 2.3
        %p Above is part 3 of the color collage series.
        
#color_collage2     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/colorCollage2.jpg" alt="color collage")/
      .project-description
        %span Composing with random objects, part 2.1
        %p In the same graduate design course, we were given a similar assignment to the black and white collages, in which we were asked to create three surrealistic non-descriptive, non-narrative collages in color using at least 5 visual elements. This is a series of three stand alone pieces. Above is part one of the color collage series.
                
#color_collage3     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/colorCollage3.jpg" alt="color collage")/
      .project-description
        %span Composing with random objects, part 2.2
        %p Above is part two of the color collage series.
        
#abstract     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/abstract.jpg" alt="abstract")/
      .project-description
        %span Composing with type
        %p These abstract compositions use three different font types at 48pt. They are composed using parts of several letters, punctuations and/or numbers.
        
#signage     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/signage.jpg" alt="signage")/
      .project-description
        %span Typographic portrait of a NYC neighborhood (East Village)
        %p In this graduate school assignment I was asked to explore a neighborhood of my choice and collect pictures of old and new signage, postings of all kinds, graffiti, way finding systems, etc., that define the neighborhood. From these images, I created a book that visually explores the East Village and its specific flavor. These are the final photographs that were included in my typographic neighborhood book.
        
#sycamore  
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/woodwork/sycamore.jpg" alt="sycamore")/
      .project-description
        %span Sycamore Box
        %p This multi-purpose box was an exercise on miter joints coupled with accented splines for structural support. The piece was inspired by the striking contrast of this particular board of sycamore. Its linear accents are complimented by ebony corners. I crafted this piece after-hours during my days as a junior woodworker. In addition to the woodwork, I provided the graphic composition seen here.
        
#walnut  
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/woodwork/walnut.jpg" alt="walnut")/
      .project-description
        %span Walnut Coffee Table
        %p I had the honor of working with a talented fellow woodworker in designing and producing this amazing coffee table. His design was inspired by the butterfly joint and the contrast between heart and sap wood in American Black Walnut. It is a simple and modern piece with contrasting grain pattern and symmetrical joints which gives this piece character and makes it unique. In addition to my contribution in producing this piece, I provided the graphic composition seen here.
        
#walnut_shelves
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/woodwork/walnut_shelves.jpg" alt="walnut shelves")/
      .project-description
        %span Walnut Shelves
        %p I had the honor of working with a talented fellow woodworker in designing and producing these shelves. They were inspired by the cantilever which gives it a free floating quality. The subtle taper and its single bridal joint are the central components for its functionality and character. They work well on their own but work best when paired along side each other. In addition to my contribution in producing these pieces, I provided the graphic composition seen here.
        
#cherry
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/woodwork/cherry.jpg" alt="cherry cabinets")/
      .project-description
        %span Cherry Cabinets
        %p Similar to the sycamore box, these file cabinets were an exercise on miter joints coupled with accented splines for structural support, but on a larger scale. Designed to hold hanging legal sized folders, they are small enough to place underneath a desk or to stack on top of each other. In addition to the woodwork, I provided the graphic composition seen here.
            
/ END LARGE PROJECT DESCRIPTIONS