.slideshow
  %ul
    %li.slide1
    %li.slide2
    %li.slide3
    %li.slide4
    %li.slide5
    %li.slide6
    %li.slide7
    %li.slide8
    %li.slide9
    %li.slide10
    %li.slide11
    %li.slide12
    %li.slide13
    %li.slide14
    %li.slide15
    %li.slide16
    %li.slide17
    %li.slide18
    %li.slide19
    %li.slide20
    %li.slide21

.about.container
  .casual-intro.col-lg-7.col-md-7.col-sm-7.col-xs-12
    %p
      %span
        Hello
      hello, and thank you for visiting!! I am a web developer based in New York City. I am both nerd and designer at heart. I spend most of my time coding up user interfaces and handing off compliant and pixel-perfect views for engineers to flesh out with backend functionality. Sometimes I get to create beautiful designs prior to implementing them, and sometimes I do logo and branding work that require no coding. Whatever the case is, the goal is to create an awesome web experience.
    %p
      Outside of work, I&rsquo;m an introverted yet strongly opinionated nerd. I have an elegant, graceful black cat and a loud, silly french bulldog; both incredibly adorable. I love interior design, modern and vintage furniture, the French language, and making delicious home cooked meals. I studied music performance at Carnegie Mellon University, then took up wood working, then began a masters in Design + Technology at Parsons, and now I design and code for a living and for fun. I keep busy and I get things done. 
    %p
      Have a look at 
      %a(href="/")my portfolio 
      and let me know
      %a(href="mailto:ana.enders@gmail.com") what you think!
    %p.thanks
      &#45; Thank You!!
  .col-lg-5.col-md-5.col-sm-5.col-xs-12
    .twitter-feed
      %a.twitter-timeline(href="https://twitter.com/anaenders" data-widget-id="361647706579550210")Tweets by @anaenders
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  .resume
    %h1 Frontend Developer
    .clear
    %summary 
      I am a website developer interested in user interfaces and website implementation. Most of the sites I&rsquo;ve worked on live on the Rails framework (though these days it&rsquo;s been more Python and Tornado), in which I write web compliant views in HTML, HAML, CSS, SASS, and JavaScript through JQuery and CoffeeScript. Due to my basic understanding of Object Oriented Programming and my personal interest in programming languages, such as Java, Ruby and Python, I feel comfortable manipulating code written by software engineers. All the while, I am a designer and creative at heart, which I express primarily through Photoshop. My design intuition and experience as a developer have made me particularly qualified to do site-wide QA testing on various platforms and operating systems. In short, I am the pixel&#45;perfect attention&#45;to&#45;detail glue between the design and backend engineering teams using my skills to facilitate and contribute to both worlds.
    .follow
      %a(href="https://twitter.com/anaenders" class="twitter-follow-button" data-show-count="false")Follow @anaenders
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      
    %a.dload(href="/ana_enders.pdf" target="_blank")
    
    .category
      %span education
      .category-container.hidden-xs
        .parent-table
          .table-row
            .table-header University of Waterloo
            .table-header University of Waterloo
            .table-header Parsons School of Design
            .table-header Carnegie Mellon University
            .table-header Centre International D&#39;Etudes Fran&#231;ais
          
          .table-row
            .table-data.date March &#45; May 2011
            .table-data.date Jan &#45; March 2011
            .table-data.date 2007 &#45; 2008
            .table-data.date 2001 &#45; 2005
            .table-data.date Summer 2004
          
          .table-row
            .table-data Certificate of Completion for Intermediate Java Programming 
            .table-data Certificate of Completion for Introduction to Java Programming
            .table-data MFA Design + Technology	
            .table-data BFA Music Performance, European Studies	
            .table-data Certificate in Intensive Language Studies in French	
          .table-row
            .table-data Online Course for Professional Development
            .table-data Online Course for Professional Development
            .table-data Completed one year of a two year program

      .category-container.visible-xs
        .parent-table
          .table-row
            .table-header University of Waterloo
            .table-data.date March &#45; May 2011
            .table-data Certificate of Completion for Intermediate Java Programming 
            .table-data Online Course for Professional Development
          .table-row
            .table-header University of Waterloo
            .table-data Certificate of Completion for Introduction to Java Programming
            .table-data Online Course for Professional Development
            .table-data.date Jan &#45; March 2011
          .table-row
            .table-header Parsons School of Design
            .table-data.date 2007 &#45; 2008
            .table-data Completed one year of a two year program
            .table-data MFA Design + Technology 
          .table-row
            .table-header Carnegie Mellon University
            .table-data.date 2001 &#45; 2005
            .table-data BFA Music Performance, European Studies 
          .table-row
            .table-header Centre International D&#39;Etudes Fran&#231;ais
            .table-data.date Summer 2004
            .table-data Certificate in Intensive Language Studies in French
            
    .category
      %span skills
      .clear
      .category-container
        .skill-list.col-lg-2.col-md-2.col-sm-2.hidden-xs
          %ul
            %li expert
            %li advanced
            %li intermediate
            %li beginner
        %figure.col-lg-10.col-md-10.col-sm-10
          .skill-list.visible-xs
            %ul
              %li expert
              %li advanced
              %li intermediate
              %li beginner
          .frontend
            %p 
              Frontend Web
            .data
              .expert
              .graph-header
              %label CSS
            .data
              .intermediate.alt
              .graph-header
              %label Javascript
            .data
              .expert
              .graph-header
              %label HAML
            .data
              .intermediate.alt
              .graph-header
              %label JQuery &#38; JQuery-UI
            .data
              .expert
              .graph-header
              %label HTML
            .data
              .intermediate.alt
              .graph-header
              %label CoffeeScript
            .data
              .expert
              .graph-header.dark
              %label SASS 
          .clear.visible-xs
          .skill-list.visible-xs
            %ul
              %li expert
              %li advanced
              %li intermediate
              %li beginner 
          .programming
            %p 
              Programming
            .data 
              .intermediate.alt
              .graph-header 
              %label Java
            .data
              .beginner
              .graph-header 
              %label PHP/MySQL
            .data
              .beginner.alt
              .graph-header 
              %label Python
            .data
              .beginner
              .graph-header.dark 
              %label Ruby on Rails
          .clear.visible-xs
          .skill-list.visible-xs
            %ul
              %li expert
              %li advanced
              %li intermediate
              %li beginner
          .design
            %p
              Graphic Design
            .data
              .beginner.alt
              .graph-header 
              %label Illustrator
            .data
              .advanced
              .graph-header 
              %label Photoshop
            .data 
              .advanced.alt
              .graph-header.dark
              %label Print/Web Design
          .clear.visible-xs
          .skill-list.visible-xs
            %ul
              %li expert
              %li advanced
              %li intermediate
              %li beginner
          .additional
            %p
              Additional Skills
            .data 
              .expert
              .graph-header 
              %label Detail Oriented
            .data
              .expert.alt
              .graph-header.dark
              %label Fluent Spanish

    .category
      %span experience
      .clear 
      .category-container.hidden-xs
        .slide_window
          .slide_tiles
            .next_container
              .next
                %a(id = "next" href = "#")
            .prev_container
              .previous
                %a(id = "previous" href = "#")
            .slide_tiles_container
              .slide_inner
                .parent-table
                  .table-row
                    .table-header Senior Frontend Engineer
                    .table-header Freelance Frontend Developer
                    .table-header Frontend Developer
                    .table-header Design Intern
                    .table-header Freelance Web Designer and Developer
                    .table-header Junior Woodworker and Website Manager
  
                  .table-row
                    .table-data.date 
                      New York, NY
                      .job
                        %a(href="http://www.themuse.com/" target="_blank")
                          The Muse
                        
                    .table-data.date 
                      San Francisco, CA
                      .job
                        %a(href="/")
                          Self Employed
                    .table-data.date 
                      New York, NY
                      .job
                        %a(href="http://intersectnyc.com" target="_blank")
                          Intersect NYC
                    .table-data.date 
                      Brooklyn, NY
                      .job
                        %a(href="http://creativelabny.com/" target="_blank")
                          Creative Lab
                    .table-data.date 
                      New York, NY
                      .job
                        %a(href="/")
                          Self Employed
                    .table-data.date 
                      Brooklyn, NY
                      .job
                        %a(href="http://cityjoinery.com/" target="_blank")
                          City Joinery
      
                  .table-row
                    .table-data 
                      July 2012 &#45; Present 
                    .table-data
                      September 2011 &#45; July 2012 
                      %br/
                      (9 months)
                    .table-data
                      September 2008 &#45; September 2011 
                      %br/
                      (3 years 1 month)
                    .table-data
                      June 2008 &#45; September 2008 
                      %br/
                      (4 months)	
                    .table-data
                      August 2008 &#45; August 2008 
                      %br/
                      (1 month)	
                    .table-data 
                      February 2006 &#45; February 2007 
                      %br/
                      (1 year 1 month)	

                  .table-row
                    .table-data 
                      As the Senior Frontend Engineer, I deliver Backbone HTML, SASS, and JavaScript via JQuery and CoffeeScript for our Python &#38; Tornado based app. I also provide designs from concept to implementation.
                    .table-data 
                      Freelancing for old clients in need of frontend adjustments to their existing sites.
                    .table-data 
                      As a member of the development team, I worked closely with the designers, backend programmers, and software engineers in producing custom sites and content management software.
                    .table-data 
                      In addition to being a photo shoot and set design assistant, I worked on image post-production editing, logo design, graphic design, web design and web development using Photoshop, HTML, CSS and Flash.
                    .table-data 
                      Designed and developed a housing site using HTML, CSS, Javascript, PHP and MySql. Created design templates and programmed both client and server sides.
                    .table-data 
                      Responsible for managing content and editing product images through Photoshop for the company website. Office tasks included proofreading and editing written content for web and printed brochure. Assisted in the production of custom wood furniture making.

      .category-container.visible-xs
        .parent-table
          .table-row
            .table-header Senior Frontend Engineer
            .table-data.date 
              New York, NY
              .job
                %a(href="http://www.themuse.com/" target="_blank")
                  The Muse               
            .table-data.date July 2012 - Present
            .table-data As the Senior Frontend Engineer, I deliver Backbone HTML, SASS, and JavaScript via JQuery and CoffeeScript for our Python & Tornado based app. I also provide designs from concept to implementation.
          
          .table-row
            .table-header Freelance Frontend Developer
            .table-data.date
              San Francisco, CA
              .job
                %a(href="/")
                  Self Employed
            .table-data.date 
              September 2011 &#45; July 2012 
              %br/
              (9 months)
            .table-data Freelancing for old clients in need of frontend adjustments to their existing sites.
          
          .table-row
            .table-header Frontend Developer
            .table-data.date 
              New York, NY
              .job
                %a(href="http://intersectnyc.com" target="_blank")
                  Intersect NYC             
            .table-data.date 
              September 2008 &#45; September 2011 
              %br/
              (3 years 1 month)
            .table-data As a member of the engineering team, I worked closely with the designers, backend programmers, and software engineers in producing custom sites and content management software.

          .table-row
            .table-header Design Intern
            .table-data.date 
              Brooklyn, NY
              .job
                %a(href="http://creativelabny.com/" target="_blank")
                  Creative Lab
            .table-data.date 
              June 2008 &#45; September 2008 
              %br/
              (4 months)  
            .table-data In addition to being a photo shoot and set design assistant, I worked on image post-production editing, logo design, graphic design, web design and web development using Photoshop, HTML, CSS and Flash.

          .table-row
            .table-header Freelance Web Designer and Developer
            .table-data.date 
              New York, NY
              .job
                %a(href="/")
                  Self Employed             
            .table-data.date
              August 2008 &#45; August 2008 
              %br/
              (1 month) 
            .table-data Designed and developed a housing site using HTML, CSS, Javascript, PHP and MySql. Created design templates and programmed both client and server sides.

          .table-row
            .table-header Junior Woodworker and Website Manager
            .table-data.date 
              Brooklyn, NY
              .job
                %a(href="http://cityjoinery.com/" target="_blank")
                  City Joinery
            .table-data.date
              February 2006 &#45; February 2007 
              %br/
              (1 year 1 month)
            .table-data Responsible for managing content and editing product images through Photoshop for the company website. Office tasks included proofreading and editing written content for web and printed brochure. Assisted in the production of custom wood furniture making.

    .category
      %span additional information
      .clear
      .category-container
        .parent-table.contact-icons
          .table-data
            %img.btn(src="/images/about/btns/cmu.jpg" alt="cmu")/
          .table-data
            %a.email{:target => 'blank'}(href="mailto:ana.enders@gmail.com")
          .table-data
            %a.google{:target => 'blank'}(href="https://plus.google.com/101992801915803767157/posts")
          .table-data
            %a.rss(href="/feed.rss")
          .table-data
            %a.linkedIn{:target => 'blank'}(href="http://www.linkedin.com/in/anaenders")
          .table-data
            %a.pinterest{:target => 'blank'}(href="http://pinterest.com/anamonster/")
          .table-data
            %a.facebook{:target => 'blank'}(href="https://www.facebook.com/anamonster")
          .table-data
            %a.twitter{:target => 'blank'}(href="https://twitter.com/#!/anaenders")
          .table-data
            %a.github{:target => 'blank'}(href="https://github.com/anaenders")
          .table-data
            %a.instagram{:target => 'blank'}(href="http://instagram.com/anaenders")