%nav
  .on
    %a(href="/")
      %img.btn(src="/images/navigation/portfolio.jpg" alt="portfolio")/
  .off
    %a(href="/about")
      %img.btn(src="/images/navigation/about.jpg" alt="about")/

  .off
    %a(href="/blog")
      %img.btn(src="/images/navigation/blog.jpg" alt="blog")/

.portfolio
  .web    
    .web-logo
      %img(src="/images/portfolio/web/web_logo.png" alt="web")/
  
    .small-thumb#wedding_site_opener
      %img(src="/images/portfolio/web/ana_ian.png" alt="ana and ian")/
  
    .small-thumb#scully_opener
      %img(src="/images/portfolio/web/scully.png" alt="scully and scully")/
  
    .small-thumb#mally_opener
      %img(src="/images/portfolio/web/mally.png" alt="mally beauty")/
  
    .small-thumb#kayandy_opener
      %img(src="/images/portfolio/web/kayandy.png" alt="kayleigh and andy")/   
  
    .small-thumb#kico_opener
      %img(src="/images/portfolio/web/kicokids.png" alt="kico kids")/
  
    .small-thumb#ajaline_opener
      %img(src="/images/portfolio/web/ajaline.png" alt="ajaline")/
  
    .small-thumb#satellite_opener
      %img(src="/images/portfolio/web/satellite_records.png" alt="satellite records")/
  
    .small-thumb#kenneth_cole_opener
      %img(src="/images/portfolio/web/kenneth_cole.png" alt="kenneth cole")/
  
    .small-thumb#bobbi_brown_opener
      %img(src="/images/portfolio/web/bobbi_brown.png" alt="bobbi brown")/
  
    .small-thumb#yigal_opener
      %img(src="/images/portfolio/web/yigalazrouel.png" alt="yigal azrouel")/
  
    .small-thumb#boast_opener
      %img(src="/images/portfolio/web/boast.png" alt="boast")/
    
    .small-thumb#lanecrawford_opener
      %img(src="/images/portfolio/web/lanecrawford.png" alt="lane crawford")/
  
    .small-thumb#lanecrawford_teaser_opener
      %img(src="/images/portfolio/web/lanecrawford_teaser.png" alt="lane crawford teaser")/
    
    .small-thumb#grandsf_opener
      %a(href="#")
        %img(src="/images/portfolio/web/grandsf.png" alt="grand sf")/
  
    .small-thumb#newlywish_opener
      %a(href="#")
        %img(src="/images/portfolio/web/newlywish.png" alt="newlywish")/
    
    .small-thumb#luckyzinc_opener
      %a(href="#")
        %img(src="/images/portfolio/web/luckyzinc.png" alt="lucky zinc")/
    
    .small-thumb#carlosfalchi_opener
      %a(href="#")
        %img(src="/images/portfolio/web/carlosfalchi.png" alt="carlos falchi")/
    
    .small-thumb#carlosfalchi_teaser_opener
      %a(href="#")
        %img(src="/images/portfolio/web/carlosfalchi_teaser.png" alt="carlos falchi teaser")/
    
    .small-thumb#coolercleanse_opener
      %a(href="#")
        %img(src="/images/portfolio/web/coolercleanse.png" alt="cooler cleanse")/
        
    .small-thumb#chilewich_wholesale_opener
      %a(href="#")
        %img(src="/images/portfolio/web/chilewich_wholesale.png" alt="chilewich wholesale")/
  
    .small-thumb#lucky_stylespotter_opener
      %a(href="#")
        %img(src="/images/portfolio/web/lss.png" alt="lucky style spotter")/
  
    .small-thumb#orsella_opener
      %a(href="#")
        %img(src="/images/portfolio/web/orsella.png" alt="orsella's site")/
    
    .small-thumb#bond_and_bowery_opener
      %a(href="#")
        %img(src="/images/portfolio/web/bond_and_bowery.png" alt="bond and bowery")/
    
    .small-thumb#chilewich_opener
      %a(href="#")
        %img(src="/images/portfolio/web/chilewich.png" alt="chilewich")/
  
    .small-thumb#thornton_opener
      %a(href="#")
        %img(src="/images/portfolio/web/thornton.png" alt="thornton tomasetti")/
  
    .small-thumb#liz_opener 
      %a(href="#")
        %img(src="/images/portfolio/web/liz.png" alt="liz")/
   
    .small-thumb#citibabes_opener 
      %a(href="#")
        %img(src="/images/portfolio/web/citibabes.png" alt="citibabes")/
    
    .small-thumb#mally_v1_opener
      %a(href="#")
        %img(src="/images/portfolio/web/mally_v1.png" alt="mally beauty")/
    
    .small-thumb#kates_opener
      %a(href="#")
        %img(src="/images/portfolio/web/kates.png" alt="kates paperie")/
    
    .small-thumb#kimara_opener
      %a(href="#")
        %img(src="/images/portfolio/web/kimara.png" alt="kimara")/
  
  .print
    .print-logo
      %img(src="/images/portfolio/print/print_logo.png" alt="print")/
  
    .small-thumb#bwcollage1_opener
      %img(src="/images/portfolio/print/bw1.jpg" alt="black and white")/
      
    .group-float
      .small-thumb#bwcollage2_opener
        %img(src="/images/portfolio/print/bw2.jpg" alt="black and white")/
      .small-thumb#bwcollage3_opener
        %img(src="/images/portfolio/print/bw3.jpg" alt="black and white")/
        
    .group-float
      .small-thumb#color_collage2_opener
        %img(src="/images/portfolio/print/color1.jpg" alt="color")/
      .small-thumb#color_collage3_opener
        %img(src="/images/portfolio/print/color2.jpg" alt="color")/
    
    .small-thumb#color_collage1_opener
      %img(src="/images/portfolio/print/color3.jpg" alt="color")/
    
  .woodwork
    .woodwork-logo
      %img(src="/images/portfolio/woodwork/woodwork_logo.png" alt="woodwork")/
          
    .small-thumb.one#sycamore_opener
      %img(src="/images/portfolio/woodwork/wood1.jpg" alt="wood")/
    
    .small-thumb.two#walnut_opener
      %img(src="/images/portfolio/woodwork/wood2.jpg" alt="wood")/
    
    .small-thumb.three#walnut_shelves_opener
      %img(src="/images/portfolio/woodwork/wood3.jpg" alt="wood")/
  
    .small-thumb.four#cherry_opener
      %img(src="/images/portfolio/woodwork/wood4.jpg" alt="wood")/
  
.clear

/ START LARGE PROJECT DESCRIPTIONS
    
#wedding_site     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/ana_ian.jpg" alt="Ana and Ian")/
      .project-description
        %span Ian & Ana's Wedding
        %p 
          For our wedding, 
          %a(href="http://ianenders.com/" target="_blank")
            Ian 
          (my husband) and I put together this super simple site, which listed our wedding details and allowed our guests to RSVP, pick their meals, and leave comments regarding food considerations. Ian wired up the database, while I designed and implemented the UI.

#scully     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/scully.jpg" alt="Scully & Scully")/
      .project-description
        %span Scully & Scully
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views. 
          %br/
          URL:
          %a(href="http://www.scullyandscully.com" target="_blank")
            http://www.scullyandscully.com
   
#mally     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/mally.jpg" alt="Mally Beauty")/
      .project-description
        %span Mally Beauty
        %p 
          Mally Beauty take two, a redesign of the old Mally, which I also worked on (see below). This redesign presents a slicker user interface and focuses heavily on social networking. Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views.
          %br/
          URL: 
          %a(href="http://www.mallybeauty.com" target="_blank")
            http://www.mallybeauty.com
                              
#kayandy     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/kayandy.jpg" alt="Kaleigh and Andy")/
      .project-description
        %span Kayleigh & Andy's Wedding
        %p Designed and implemented the UI for my sister-in-law and her husband's wedding. It allowed guests to RSVP, read information about the wedding itinerary, read about the couple, their honeymoon plans, and how to access their wedding registry.
                        
#kico     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/kicokids.jpg" alt="Kico Kids")/
      .project-description
        %span Kico Kids
        %p 
          %p 
            Partnered with 
            %a(href="http://intersectnyc.com" target="_blank")
              Intersect NYC 
            to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views for this kid's clothing e-commerce site. 
            %br/
            URL:
            %a(href="http://www.kicokids.com" target="_blank")
              http://www.kicokids.com 
            
#ajaline     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/ajaline.jpg" alt="Ajaline")/
      .project-description
        %span Ajaline
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views for this exclusive high-end fine jewelry site.
          
#satellite     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/satellite.jpg" alt="Satellite Records")/
      .project-description
        %span Satellite Records
        %p 
          Satellite Records is a major player in the industry of digital download music with DJ's all around the world as its target audience. I contributed to the the frontend by writing HTML, CSS, to produce web compliant Rails views. 
          %br/
          URL:
          %a(href="http://www.satelliterecords.com" target="_blank")
            http://www.satelliterecords.com
            
#kenneth_cole     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/kenneth_cole.jpg" alt="Kenneth Cole")/
      .project-description
        %span Kenneth Cole
        %p
          For this rails application I implemented the user interface by writing web compliant Rails views in HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to create a website, a facebook page, and an interface for mobile devices, namely Webkit and Blackberry. Partnered with 
          %a(href="http://www.intersectnyc.com" target="_blank")
            Intersect NYC.
            
#bobbi_brown     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/bobbi_brown.jpg" alt="Bobbi Brown")/
      .project-description
        %span Bobbi Brown
        %p
          As a temporary administrator for Bobbi Brown's facebook page, I created a custom tab called Beauty Rules and reconfigured third party HTML to work within the Facebook framework. Partnered with 
          %a(href="http://www.intersectnyc.com" target="_blank")
            Intersect NYC.
          %br/
          URL:
          %a(href="http://www.facebook.com/BobbiBrown?v=app_6009294086&ref=ts" target="_blank")
            http://www.facebook.com/BobbiBrown?v=app_6009294086&ref=ts
            
#yigal     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/yigalazrouel.jpg" alt="Yigal Azrouel")/
      .project-description
        %span Yigal Azrouel
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views for this high-end fashion design site.
          %br/
          URL:
          %a(href="http://www.yigal-azrouel.com/" target="_blank")
            http://www.yigal-azrouel.com
            
#boast     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/boast.jpg" alt="Boast USA")/
      .project-description
        %span Yigal Azrouel
        %p 
          Took an existing Rails e-commerce framework and re-skinned it to make this site. Other than the designers involved in the making of Boast, little backend support was required, which made the development phase for the most part a rare solo project. Developed the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views in partnership with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
          %br/
          URL:
          %a(href="http://www.boastusa.com/" target="_blank")
            http://www.boastusa.com
            
#lanecrawford     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/lanecrawford.jpg" alt="Lane Crawford")/
      .project-description
        %span Lane Crawford
        %p 
          Lane Crawford Heritage 160 is a micro site that lives under the umbrella site 
          %a(href="http://www.lanecrawford.com/")
            http://www.lanecrawford.com.
          For this site, I wrote HTML, CSS, and incorporated third party XML, SWF and flash files. Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
                        
#lanecrawford_teaser     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/lanecrawford_teaser.jpg" alt="Lane Crawford")/
      .project-description
        %span Lane Crawford Teaser
        %p 
          Lane Crawford Teaser was the prelude to Lane Crawford Heritage 160, a micro site that lives under the umbrella site 
          %a(href="http://www.lanecrawford.com/")
            http://www.lanecrawford.com.
          For this site, I wrote the HTML and CSS. Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
            
#grandsf     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/grandsf.jpg" alt="Grand SF")/
      .project-description
        %span Grand SF
        %p 
          Fot Grand SF I wrote the HTML5 video player and encoded other formats of videos, such as mp4 and ogg type, to supplement flash video for browsers that are HTML5 compatible. Developed in partnership with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
          %br/
          URL:
          %a(href="http://www.agrandsite.com/" target="_blank")
            http://www.agrandsite.com
            
#newlywish     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/newlywish.jpg" alt="Newlywish")/
      .project-description
        %span Grand SF
        %p 
          "NewlyWish is a wedding gift registry service designed to provide to-be-weds, their friends and family, with the choice, convenience, and personalization they desire." This project involved many developers. My role included writing some of the frontend using HTML, CSS, and some very basic Ruby and JavaScript(JQuery). Developed in partnership with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
          %br/
          URL:
          %a(href="http://www.newlywish.com/" target="_blank")
            http://www.newlywish.com
            
#luckyzinc     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/luckyzinc.jpg" alt="Lucky Insider")/
      .project-description
        %span Lucky Insider
        %p 
          Lucky Magazine and American Express teamed up to create this site to promote the zync credit card. Much like its predecessor 
          %a(href="http://http://stylespotter.luckymag.com/" target="_blank")
            Lucky Style Spotter
          , it focuses on users uploaded looks and the expert advice given regarding their style. Collaborated with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC
          to implement the re-skinning of the user interface by writing HTML, CSS and basic Ruby for the frontend. 
          %br/
          URL:
          %a(href="http://zync.luckylookout.com/" target="_blank")
            http://zync.luckylookout.com
            
#carlosfalchi     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/carlosfalchi.jpg" alt="Carlos Falchi")/
      .project-description
        %span Carlos Falchi
        %p 
          For this site I wrote XML builder files and integrated much of the flash into our rails framework. To a lesser extent I partially wired up the content management system in the back-end. All HTML and CSS and most Javascript was written by me. Collaborated with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
          %br/
          URL:
          %a(href="http://www.carlosfalchi.com/" target="_blank")
            http://www.carlosfalchi.com 
            
#carlosfalchi_teaser     
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/carlosfalchi_teaser.jpg" alt="Carlos Falchi Teaser")/
      .project-description
        %span Carlos Falchi Teaser
        %p 
          Developed the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views in partnership with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC.
            
#coolercleanse    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/coolercleanse.jpg" alt="Cooler Cleanse")/
      .project-description
        %span Cooler Cleanse
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          in developing the front end of this detox juice-centric e-commerce site. My role included writing the HTML, CSS, basic Ruby and some Javascript for the user interface. 
          %br/
          URL:
          %a(href="http://www.coolercleanse.com/" target="_blank")
            http://www.coolercleanse.com

#chilewich_wholesale    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/chilewich_wholesale.jpg" alt="Chilewich Wholesale")/
      .project-description
        %span Chilewich Wholesale
        %p 
          Developed in partnership with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC. 
          This is a sub site for 
          %a(href="http://www.chilewich.com" target="_blank")
            www.chilewich.com
          , targeted at wholesale partners. My development work included writing HTML, CSS, basic Ruby and some Javascript for the user interface. 
          %br/
          URL:
          %a(href="http://www.chilewich.com/wholesale/" target="_blank")
            http://www.chilewich.com/wholesale
                    
#lucky_stylespotter    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/lss.jpg" alt="Lucky Stylespotter")/
      .project-description
        %span Lucky Stylespotter
        %p 
          Partnered with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          in fully re-skinning the front end of this fashion setting user base driven site by writing HTML, CSS, basic Ruby and some Javascript for the user interface. 
          %br/
          URL:
          %a(href="http://stylespotter.luckymag.com/" target="_blank")
            http://stylespotter.luckymag.com
  
#orsella    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/orsella.jpg" alt="Orsella")/
      .project-description
        %span Orsella
        %p 
          This was a christmas gift for my long time friend. I was going for the stylish, sophisticated and professional look, since those are the words I would use to describe her. This was an exercise in designing and programming a Rails site from the ground up. Collaborated with  
          %a(href="http://ianenders.com/" target="_blank")
            Ian Enders 
          for backend and ajax support.
 
#bond_and_bowery    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/bond_and_bowery.jpg" alt="Bond and Bowery")/
      .project-description
        %span Bond & Bowery
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to re-skin this vast site written almost entirely in PHP. I wrote new HTML, re-formatted existing HTML with CSS, wrote basic PHP, and Javascript for the entire user interface. 
          %br/
          URL:
          %a(href="http://www.bondandbowery.com/" target="_blank")
            http://www.bondandbowery.com
            
#chilewich    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/chilewich.jpg" alt="Chilewich")/
      .project-description
        %span Chilewich
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop this striking and elegant e-commerce site, which emphasizes craftsmanship and well made designs with a focus on materials and textiles. I provided HTML, CSS, basic Ruby and some Javascript for the front end. 
          %br/
          URL:
          %a(href="http://www.chilewich.com/" target="_blank")
            http://www.chilewich.com
            
#thornton    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/thornton.jpg" alt="Thornton Tomasetti")/
      .project-description
        %span Thornton Tomasetti
        %p 
          Partnered with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the user interface for this site, which features a search engine for navigating through this structural engineering firm's portfolio. I provided HTML, CSS, basic Ruby and some Javascript for the front end.
          %br/
          URL:
          %a(href="http://www.thorntontomasetti.com/" target="_blank")
            http://www.thorntontomasetti.com
            
#liz    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/liz.jpg" alt="Liz Claiborne")/
      .project-description
        %span Liz Claiborne
        %p 
          Collaborated with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the user interface to achieve the company's new vision and relaunching of the Liz brand. I provided HTML, CSS, basic Ruby and some Javascript for the front end.

#citibabes    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/citibabes.jpg" alt="Citibabes")/
      .project-description
        %span Citibabes
        %p 
          This vibrant site is a one stop shop for city parents on the go. Partnered with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the user interface by providing HTML, CSS, basic Ruby and some Javascript for the front end.
          %br/
          URL:
          %a(href="http://www.citibabes.com/" target="_blank")
            http://www.citibabes.com
            
#mally_v1    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/mally_v1.jpg" alt="Mally Beauty")/
      .project-description
        %span Mally Beauty
        %p 
          This site focuses on it's community and sells an extensive line of beauty products. Partnered with
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the user interface by providing HTML, CSS, basic Ruby and some Javascript for the front end.
          
#kates    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/kates.jpg" alt="Kate's Paperie")/
      .project-description
        %span Kate's Paperie
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby and JavaScript(JQuery) to produce web compliant Rails views. 
          %br/
          URL:
          %a(href="http://www.katespaperie.com/" target="_blank")
            http://www.katespaperie.com
            
#kimara    
  .detail-container
    .inner-container   
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/web/kimara.jpg" alt="Kimara")/
      .project-description
        %span Kimara Ahnert
        %p 
          Partnered with 
          %a(href="http://intersectnyc.com" target="_blank")
            Intersect NYC 
          to develop the frontend by writing HTML, CSS, and some very basic Ruby to produce web compliant Rails views for this high end beauty product e-commerce site. 
          %br/
          URL:
          %a(href="http://www.kimara.com/" target="_blank")
            http://www.kimara.com

#bwcollage1     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/bwcollage1.jpg" alt="bwcollage")/
      .project-description
        %span Black & White Collage 1
        %p In a graduate school course called "Design Process; Visual Communication", we were asked to blindly pick out three objects from our professor's bag of goodies and to arrange them into some sort of collage after scanning them using a xerox machine. I ended up with a screw, an apple and a crayon tip. This is the first of three collages I came up with.   
  
#bwcollage2    
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/bwcollage3.jpg" alt="bwcollage")/
      .project-description
        %span Black & White Collage 2
        %p This is the second of the three collages. I chose to do my scans in black & white to play on the contrast between color and texture.
  
        
#bwcollage3     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/bwcollage2.jpg" alt="bwcollage")/
      .project-description
        %span Black & White Collage 3
        %p This is the third of three collages. It attempts to additional contrast through the use of image discontinuity.
              
#color_collage1     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/colorCollage1.jpg" alt="color collage")/
      .project-description
        %span Color Collage 1
        %p Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. 
        
#color_collage2     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/colorCollage2.jpg" alt="color collage")/
      .project-description
        %span Color Collage 2
        %p Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
                
#color_collage3     
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/print/colorCollage3.jpg" alt="color collage")/
      .project-description
        %span Color Collage 3
        %p Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
        
#sycamore  
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/woodwork/sycamore.jpg" alt="sycamore")/
      .project-description
        %span Sycamore Box
        %p Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
        
#walnut  
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/woodwork/walnut.jpg" alt="walnut")/
      .project-description
        %span Walnut Coffee Table
        %p Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
        
#walnut_shelves
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/woodwork/walnut_shelves.jpg" alt="walnut shelves")/
      .project-description
        %span Walnut Shelves
        %p Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
        
#cherry
  .detail-container
    .inner-container    
      %a.close#js-close-modal(href="#")
      %img(src="/images/portfolio/woodwork/cherry.jpg" alt="cherry cabinets")/
      .project-description
        %span Cherry Cabinets
        %p Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
            
/ END LARGE PROJECT DESCRIPTIONS