!!! 5
%html
  %head
    %title Ana Enders
    %meta{:name => "google-site-verification", :content => "BJ-AxCSPNC8koVmBDKh5DbCcxjXmAU56jBf3Hsxqbuw"}/
    %meta{:name => "author", :content => "Ana Enders"}/
    %meta{:name => "keywords", :content => "Web developer, Web designer"}/
    %meta{:name => "description", :content => "Ana Enders"}/
    %link(href="/feed.rss" rel="alternate" type="application/rss+xml" title="Ana Enders Blog RSS")/
    
    %link(href="/stylesheets/jquery-ui.css" media="screen" rel="stylesheet" type="text/css")/
    %link(href="/stylesheets/app.css" media="screen" rel ="stylesheet" type="text/css")/
    %link(href="/images/favicon.ico" rel ="icon" type="image/x-icon")/    
    %script(src="/javascripts/jquery-1.7.2.min.js" type="text/javascript")
    %script(src="/javascripts/jquery-ui-1.8.19.min.js" type="text/javascript")
    %script(src="/javascripts/sugar-1.2.4.min.js" type="text/javascript")
    %script(src="/javascripts/application.js" type="text/javascript")
    %script(src="/javascripts/dialog.js" type="text/javascript")
    
    / [if lt IE 9]
      %script(src="/javascripts/html5shiv.js" type="text/javascript")/
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10030932-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    /[if IE]
      :css
        .content header, .prev_container, .next_container {
          background:transparent;
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff);
          zoom: 1;
        }
      </style>
    
  %body
    .content
      %header  
        .logo 
          %img(src="/images/logo.png")/   
        .dots
          %nav
            %a.on(href="/")
              %img.btn(src="/images/navigation/about.jpg" alt="about")/
            %a.off(href="/portfolio")
              %img.btn(src="/images/navigation/portfolio.jpg" alt="portfolio")/
            %a.off(href="/blog")
              %img.btn(src="/images/navigation/blog.jpg" alt="blog")/  
          %a(href="/")
            ana enders
      .full-width
        = yield
        .scroll
          &#94;
          %br
          Scroll to top