!!!
%html
  %head
    %title Ana Enders
    %meta{:name => "google-site-verification", :content => "BJ-AxCSPNC8koVmBDKh5DbCcxjXmAU56jBf3Hsxqbuw"}/
    %meta{:name => "author", :content => "Ana Enders"}/
    %meta{:name => "keywords", :content => "Freelance, web developer, web designer"}/
    %meta{:name => "description", :content => "Ana Enders' web portfolio"}/
    %link(href="/feed.rss" rel="alternate" type="application/rss+xml" title="Ana Enders Blog RSS")/
    %link(href="/stylesheets/app.css" media="screen" rel ="stylesheet" type="text/css")/
    %link(href="/stylesheets/jquery-ui.css" media="screen" rel="stylesheet" type="text/css")/
    %link(href="/images/favicon.ico" rel ="icon" type="image/x-icon")/
    %script(src="/javascripts/jquery-1.7.2.min.js" type="text/javascript")
    %script(src="/javascripts/jquery-ui-1.8.19.min.js" type="text/javascript")
    %script(src="/javascripts/underscore-1.3.1.min.js" type="text/javascript")
    %script(src="/javascripts/sugar-1.2.4.min.js" type="text/javascript")
    %script(src="/javascripts/application.js" type="text/javascript")
    %script(src="/javascripts/dialog.js" type="text/javascript")
    %script(src="/javascripts/slides.min.jquery.js" type="text/javascript")
    / [if lt IE 9]
      %script(src="/javascripts/html5shiv.js" type="text/javascript")
    
  %body
    .content
      %header
        %a(href="/")
          %img(src="/images/btns/logo.jpg" alt="anaenders")/
      
      .wrapper
        = yield

