!!! 5
%html
  %head
    %title Ana Enders
    %meta{:name => "google-site-verification", :content => "BJ-AxCSPNC8koVmBDKh5DbCcxjXmAU56jBf3Hsxqbuw"}/
    %meta{:name => "author", :content => "Ana Enders"}/
    %meta{:name => "keywords", :content => "Web developer, Web designer"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no"}
    %meta{:name => "description", :content => "Ana Enders"}/
    %link(href="/images/favicon.ico" rel ="icon" type="image/x-icon")/
    %link(href="/stylesheets/app.css" media="screen" rel ="stylesheet" type="text/css")
    %link(href="/stylesheets/font-awesome.min.css" rel="stylesheet" )/
    %script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js")
    %script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    %script(src="/javascripts/application.js" type="text/javascript")
  %body
    .content
      .header-wrapper
        %header
          %a.logo(href="/")
            anaenders
          .dots
      %div
        = yield
        .scroll
          &#94;
          %br
          Scroll
          %br
          to top
